@font-face {
    font-family: Montserrat;

    src: local('@'), 
        url('assets/fonts/Montserrat-Black.woff2') format('woff2'),
        url('assets/fonts/Montserrat-Black.woff') format('woff');

    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;

    src: local('@'), 
        url('assets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('assets/fonts/Montserrat-Bold.woff') format('woff');
        
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: Montserrat;

    src: local('@'), 
        url('assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('assets/fonts/Montserrat-SemiBold.woff') format('woff');
        
    font-weight: 600;
    font-display: fallback;
}

@font-face {
    font-family: Montserrat;

    src: local('@'), 
        url('assets/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('assets/fonts/Montserrat-Medium.woff') format('woff');
        
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;

    src: local('@'), 
        url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('assets/fonts/Montserrat-Regular.woff') format('woff');
        
    font-weight: 400;
    font-display: swap;
}

:root {
    --data-height: 0px;
    --accent-blue: #1872F9;
    --accent-gray: #cacaca;
    --text-dark: #2d2d2d;
    --text-muted: rgba( 45, 45, 45, .6 );
    --f5-light: #f5f5f5;
    scroll-behavior: smooth;
}

a { 
    color: unset;
    text-decoration: none;
}

body {
    min-height: 100vh;
    margin:0;

    color: var(--text-dark);
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;

    overflow-x: hidden;
    box-sizing: border-box;
}

main { flex: 1 }

h1, h2, h3, h4, h5 { margin: 0 }

h1, h2 { font-weight: 900 }

ul, ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    color: var(--text-muted);
}

li { list-style: none }

figure { margin: 0 }

figure img { display: block }

img {
    height: auto;
}

section:nth-child(even) { background-color: var(--f5-light) }

.page-section { 
    padding: 140px 0;
    overflow-x: hidden; 
}

::placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    opacity: 1; /* Firefox */
  }

input {
    color: var(--text-dark);
    border: 1px solid transparent;
    font-weight: 500;
}

input:focus {
    border-color:  var(--accent-blue);
    outline: none;
}

button, .button {
    padding: 16px 43px;
    border-radius: 100px;
    border:none;

    color: #ffffff;
    background-color: var(--accent-blue);

    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: .8em;
    transition: .4s;
    cursor: pointer;
}

button:hover { background-color: #0E53BB }

.br-12 { border-radius: 12px }

.hidden { display: none}

.button-light {
    border: 1px solid var(--accent-blue);
    color: var(--accent-blue);
    background-color: #ffffff;
}

.button-light:hover {
    color: #ffffff;
    background-color: var(--accent-blue);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

.heading-secondary { 
    margin-bottom: 32px;
    font-size: 1.75em;
    text-transform: uppercase;
 }

.item-heading { 
    margin-bottom: 16px;
    font-size: 1.35em;
 }

.grid { display: grid }

.flex { display: flex }

.justify-sb { justify-content: space-between }

.justify-center { justify-content: center }

.align-center { align-items: center }

.align-end { align-items: flex-end }

.fd-column { flex-direction: column }

.text-muted { color: var(--text-muted) }

.fw-400 { font-weight: 400 }
.fw-600 { font-weight: 600 }

.w-100 { width: 100% }

.float-heading { float: left }

.header-container {
    position: relative;
    width: 100%;
}

.extra-heading { 
    height: 43px;

    color: var(--accent-blue);
    font-size: .8em;
    text-transform: uppercase;

    float: right;
 }

.badge {
    width: 130px;
    height: 130px;

    border-radius: 100px;
    background-color: #ffffff;
    box-shadow: 0 0 12px rgba( 0, 0, 0, .11 );
}

.badge-circle {
    width: 100%;
    height: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 51px;

    transform-origin: center;
}

.color-accent { color: var(--accent-blue) }




.header {
    position: relative;
    padding: 25px 0;
    font-size: .8em;
}

.header-menu-item a { 
    transition: font-weight .4s;
    font-size: 16px;
 }

.header-menu-item:hover a { font-weight: 700 }

.header-logo {
    padding: 13px 52px;
    color: var(--text-muted);
}

.header-menu-item:not(:last-child) { margin-right: 44px }

.header-logo, .header-phone { 
    border-radius: 100px;
    background-color: var(--f5-light);
}

.phone-image {
    max-width: 294px;

    background-image: url(assets/img/slider-phone-background.webp);
    background-size: 94%;
    background-position-x: 10px;
    background-position-y: 221%;
    background-repeat-x: no-repeat;

    border-radius: 60px;
    overflow: hidden;
    animation: animatePhone 5s infinite alternate;
}

@keyframes animatePhone {
    50% {background-position-y: 100%;}
    70% {background-position-y: 30%;}
    100% {background-position-y: 70%;}
}

.burger, .burger-line {
    border-radius: 4px;
}

.burger {
    position: relative;

    min-width: 28px;
    margin-left: 16px;
    padding: 13px 7px;

    background-color: var(--f5-light);
    cursor: pointer;
    box-sizing: border-box;
}

.burger-line, .burger-line:before, .burger-line:after {
    width: 14px;
    height: 2px;
    border-radius: 10px;
    background-color: var(--text-dark);
    transition: .2s;
} 

.burger-line:before, .burger-line:after {
    content: '';
    position: absolute;
    transform-origin: left;
}

.burger-line:before {
    top: 7px;
}

.burger-line:after {
    bottom: 7px;
    
}

.burger.active .burger-line {
    width: 0;
}

.burger.active .burger-line:before {
    transform: rotate(45deg);
}

.burger.active .burger-line:after {
    transform: rotate(-45deg);
}

.burger.active .burger-line:before, .burger.active .burger-line:after {
    left: 8px;
    width: 17px;
}



.slider-wrap {
    position: relative;
    margin-top: 68px;
    margin-bottom: 108px;
}

.nav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;

    width: 100%;
    max-width: 1600px;

    transform: translateX(-50%);
    pointer-events: none;
}

.nav-container > * {
    pointer-events: all;
}

.slide > .flex { position: relative }

.slick-arrow {
    position: absolute;
    z-index: 3;
    top: 50%;

    width: 15px;
    height: 10px;
    padding: 0;
    
    background-color: transparent;
    background-image: url(assets/icons/chevron.svg);
    background-size: cover;
    font-size: 0;
    opacity: 0;
    animation: arrowOpac .4s forwards;
}

.slick-arrow:hover {
    background-color: transparent;
}

@keyframes arrowOpac { to{opacity: 1} }

.slick-prev {
    left: 0;
    transform: rotate(90deg);
}

.slick-next {
    right: 0;
    transform: rotate(-90deg);
}

@media (min-width: 1920px) {
    .slick-prev {
        left: -154px;
    }
    
    .slick-next {
        right: -154px;
    }
}

.slide-heading {
    font-size: 3em;
    margin-bottom: 50px;
}

.slide-info {
    margin: 13px 13px 0 0; 
}

.slide-text { 
    max-width: 735px;
    margin-bottom: 70px; 
    font-size: 1.2em;
}

button.slide-button { 
    width: 100%;
    max-width: 300px;
    padding: 16px 0;
}

.slide-button:first-child { margin-right: 18px }

.slider-image {
    position: relative;
    padding-top: 30px;

    background-image: url('assets/img/slider-circle.webp');
    background-position: center calc(100% - 149px);
    background-repeat: no-repeat;
    background-size: 496px;
    transition: background-size .4s;
}

.badge-textPath { letter-spacing: -.5px }

.slider-badge {
    position: absolute;
    left: 20px;
    bottom: 200px;
}

.slider-badge .badge-circle { background-image: url('assets/img/slider-badge-rocket.webp') }

.scroll-down {
    margin-bottom: 20px;

    font-size: .7em;
    text-align: center;
}

.scroll-down:after {
    content: url('assets/icons/chevron.svg');
    display: block;
    margin-top: 12px;
}

.badge-text {
    text-transform: uppercase;
    transform-origin: center;
    animation: circleRotate 12s infinite linear;
}

@keyframes circleRotate{ to{ transform: rotate(360deg) } }

.slider-badge-textPath { word-spacing: 4px }

.slide-arrow { margin-top: -81px }

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 40px;
    display: flex;
}

.slick-dots button {
    width: 10px;
    height: 10px;
    padding: 0;

    background-color: var(--accent-gray);
    font-size: 0;
}

.slick-dots li:not(:last-child) button {
    margin-right: 26px;
}

.slick-dots .slick-active button {
    background-color: var(--accent-blue);
}

.slick-dots .slick-active {
    position: relative;
}

.slick-dots .slick-active .dot-circle {
    opacity: 1;
}

.dot-circle {
    position: absolute;
    top: 7px;
    left: -7px;

    width: 24px;
    height: 24px;

    transform: rotate(315deg);
    opacity: 0;
    pointer-events: none;

    stroke-width: 5;
    fill: none;
    stroke-linecap: round;
}

.dot-circle:focus {
    outline: none;
}

.dot-circle:nth-of-type(1) {
    stroke: var(--accent-blue);
    stroke-dasharray: 250;
    stroke-dashoffset: 500;
}




#about {
    overflow: hidden;
}

.capabilities {
    grid-template-columns: 1fr 1fr;
    gap: 130px 80px;
}

.capabilities-heading { margin-bottom: 0 }

.capability { position: relative }

.cap-overlay {
    position: relative;
    padding: 30px;
    z-index: 1;
    background-color: #ffffff;
}

.capability-number {
    position: absolute;
    top: -120px;
    right: 9px;
    font-size: 7.25em;
    font-weight: 700;
    color: var(--accent-blue);
}

.capability-number span {
    position: relative;
    z-index: 2;
}

.capability:nth-child(odd) {
    grid-column-start: 2;
}

.capability:nth-child(even) {
    grid-column-start: 1;
}

.capability:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
}

.capability:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 4;
}

.capability:nth-child(3) {
    grid-row-start: 3;
    grid-row-end: 5;
}

.capability:nth-child(4) {
    grid-row-start: 4;
    grid-row-end: 6;
}

.capability:nth-child(5) {
    grid-row-start: 5;
    grid-row-end: 7;
}




.details-list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 32px;
}

.item-shadow { box-shadow: 0 4px 22px rgba(4, 6, 52, 0.12) }

.detail {
    position: relative;
    overflow: hidden;
}

.detail:nth-child(1), .detail:nth-child(2), .detail:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

.detail .badge {
    margin: 40px;
}

.detail .mob-app-badge { margin-bottom: 266px }

.mob-app-badge .badge-circle {
    background-image: url('assets/img/detail-badge-clocks.webp');
}

.mob-app-badge-textPath { word-spacing: 7px }

.detail-text-wrap { 
    padding: 40px;
    max-width: 533px; }

.detail-heading { text-transform: capitalize }

.app-examples {
    position: absolute;
    top: -1000px;
    right: -40px;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    transform: rotate(-30deg);
}

/*объединение анимаций в разных частях страницы*/
.app-exapmle-part, .qr-example { 
    width: auto;
    animation: exampleMove 20s infinite linear;
 }

.qr-example { animation-duration: 7s; }

.app-exapmle-part:nth-child(odd), .qr-example:first-child { animation-direction: alternate }

.app-exapmle-part:nth-child(even), .qr-example:last-child { animation-direction: alternate-reverse }

.qr-example.middle { animation: exampleMoveALittle 2s alternate infinite }

@keyframes exampleMove { to{ transform: translateY(-30%) } }

@keyframes exampleMoveALittle { to{ transform: translateY(-20px) } }

.site-image { 
    width: 100%;
    margin: 18px 0 12px;
 }

.site-badge { align-self: flex-end }

.site-badge .badge-circle, .qr-badge .badge-circle { background-image: url('assets/img/stonks.webp') }

.site-badge-textPath {
    word-spacing: 5px;
    letter-spacing: -1.5px;
}

.detail-small {
    padding-top: 180px;
    background-repeat: no-repeat;
}

.detail-delivery {
    background-image: url('assets/img/del-map.webp');
    background-size: cover;
    background-position: right 0;
}

.detail-review {
    background-image: url('assets/img/review-stars.webp');
    background-position: right 33px top 22px ;
}

.detail-integrations {
    background-image: url('assets/img/integrations.webp');
    background-position: right 41px top 46px ;
}

.detail-loyalty {
    background-image: url('assets/img/loyalty.webp');
    background-position: right 15px top 13px ;
}

.detail-qr {
    justify-content: flex-end;
}

.qr-examples {
    position: absolute;
    top: -200px;
    right: 745px;
    white-space: nowrap;
}

.details-button {
    margin: 0 auto;
    display: block;
}




.tabs-wrapper {
    position: relative;
}

.tabs {
    margin-right: 20px;
    padding: 10px;
}

.tab {
    position: relative;
    color: var(--text-muted);
    cursor: pointer;
    transition: .2s;
}

.tab:not(:last-child) {
    margin-bottom: 20px;
}

.tab:hover {
    color: var(--text-dark);
    font-weight: 700;
}

.tab::before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.tab.active {
    color: var(--accent-blue);
    font-weight: 700;
}

.tab.active:hover {
    color: rgba(14, 83, 187, 1);
}

.tab.active::after {
    content: url('assets/icons/chevron-blue.svg');
    position: absolute;
    margin-left: 12px;
}

.tab-content {
    position: relative;
    max-width: 1163px;
    height: fit-content;
    border-radius: 12px;
    overflow: hidden;
}

.tab-image {
    position: absolute;

    display: block;
    width: 100%;

    opacity: 0;
    transition: opacity .6s;
}

.tab-image.active {
    position: relative;
    opacity: 1;
}

.tabs-badge {
    position: absolute;
    bottom: 0;
    left: 0;
}

.tabs-badge .badge-circle {
    background-image: url('assets/img/crm-badge.webp');
}

.tabs-badge-text {
    text-transform: lowercase;
}




#stages .container {
    position: relative;
}

.stages-list { 
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.stage {
    position: relative;
    padding: 16px 16px 18px;

    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.stage.active .stage-data {
    width: auto;
    padding: 12px 13px;
}

.stage-data {
    position: relative;
    width: 100%;
    background-color: #ffffff;
}

.stage-top {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height .6s;
}

.stage.active .stage-top {
    max-height: 400px;
}

.stage-img-wrap::before, .stage-img-wrap:after {
    content: '';

    position: absolute;
    left: 50%;

    border: 20px solid transparent; 
    border-bottom: 20px solid #ffffff;
    transform: translateX(-50%);
    transform-origin: center;
}

.stage-img-wrap::before {
    bottom: 0
}

.stage-img-wrap:after {
    visibility: hidden;
    top: 0;
    transform: translateX(-50%) rotate(180deg);
}

.stage.active .stage-img-wrap:after { visibility: visible }

.stage-img-wrap { position: relative; }

.stage-img { width: 100% }

.stage-number {
    margin: 5px 0;

    font-size: .8em;
    font-weight: 700;
    color: var(--text-muted);
}

.stage-text {
    max-width: 85%;
    margin: 0 auto 8px;

    text-align: center;
    font-weight: 600;
}

.stage-button {
    padding: 0;
    background-color: transparent;
    color: var(--accent-blue);
}

.stage-close {
    margin-bottom: 18px;
}

.stage-button:hover {
    color: #0E53BB;
    background-color: transparent;
}

.stage-hidden {
    /* height: 0; */
    padding: 12px 0;
    font-size: 16px;
    text-align: start;
    overflow: hidden;
}

.stage-dot {
    position: absolute;
    top: -15px;

    width: 34px;
    height: 34px;

    background-color: #ffffff;
    border: 8px solid  #E8E8E8;
    border-radius: 100px;
    box-sizing: border-box;
    transition: .2s;
}

.stage-dot:nth-child(2) {
    left: 32%;
}

.stage-dot:nth-child(3) {
    left: 66%;
}

.stage-dot:nth-child(4) {
    right: 0;
}

.stage-dot.active {
    border-color: var(--accent-blue);
}

.timeline {
    position: relative;

    width: 76%;
    max-width: 1147px;
    height: 6px;
    margin: 41px auto 0;

    background-color: #E8E8E8;
}

.timeline-track {
    width: 16%;
    height: 100%;

    border-radius: 12px;
    background-color: var(--accent-blue);
    transition: width .2s, height .2s;
}




.indicators-section-heading {
    margin-bottom: 12px;
}

.indicators-subheading {
    display: flow-root;
    margin-bottom: 32px;
    font-weight: 600;
}

.indicators {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.indicator {
    padding: 40px;
    background-color: #ffffff;
}

.indicator-text-wrap {
    width: 65%;
}

.indicator-text-wrap p {
    margin-right: 10px;
}

.indicator-image-wrap {
    width: 35%;
}

.indicator-image {
    width: 100%;
    max-height: 250px;
    object-fit: scale-down;
}


a.color-accent {
    font-weight: 700;
}

a.color-accent:hover {
    color: #0E53BB;
}




.carousel {
    position: relative;

    width: 100%;

    overflow-x: scroll;
    overflow-y: hidden;
}

.carousel-track {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    width: auto;

    pointer-events: none;
}

.carousel-item { margin-right: 20px }

.carousel-img-wrap { margin-bottom: 16px }

.carousel-heading { margin-bottom: 12px }

.carousel-link { 
    pointer-events: all;
    text-transform: uppercase; 
}




.form-container {
    max-width: 597px;
    margin-right: 20px;
    padding: 56px 123px 109px 100px;

    background: #ffffff;
    border-radius: 22px;

    text-align: center;
    box-sizing: border-box;
}

.form-subheading { font-size: .8em }

.contact-form { padding-top: 50px }

.form-badge { 
    position: absolute;
    top: 20px;
    right: 20px;
}

.form-badge .badge-circle { 
    background-image: url('assets/img/form-badge.webp');
    background-position-y: 30px;
    background-size: 45%;
 }

.form-badge .badge-text { word-spacing: 1px }

.form-input {
    width: 280px;
    padding: 14px 20px;

    border-radius: 100px;
    background-color: var(--f5-light);
    font-size: .9em;

    box-sizing: border-box;
}

.form-input:not(:last-of-type) {
    margin-bottom: 12px;
}

.form-submit {
    margin-top: 38px;
    font-weight: 600;
}

.form-input, .form-submit {
    max-width: 280px;
    width: 100%;
}

.form-image-wrap {
    position: relative;
    width: 100%;
}

.form-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
}


.articles-section { 
    padding-top: 0;
    background-color: var(--f5-light);
 }

.article {
    max-width: 380px;
}

.article .carousel-heading {
    font-size: 1em;
    font-weight: 600;
}




.site-footer {
    color: rgba( 255, 255, 255, .6 );
    background-color: #242424;
}

.site-footer p {
    color:rgba( 255, 255, 255, .6 )
}

.site-footer .container {
    padding: 36px 40px 26px;
}

.footer-menu, .footer-contacts {
    flex: 1;
}

.footer-menu {
    margin-right: auto;
}

.footer-menu-list {
    font-size: .7em;
    columns: 2;
}

.footer-menu-item:not(:last-child) {
    margin-bottom: 12px;
}

.footer-menu-item a:hover {
    color: #ffffff;
}

.footer-logo {
    padding: 37px;
    border-radius: 22px;
    background-color: rgba(217, 217, 217, 0.1);
}

.footer-contacts {
    font-style: normal;
}

.footer-contacts div:first-child {
    margin-right: 44px;
    margin-left: auto;
}

.contact-name {
    font-size: .8em;
}

.contact {
    color: #ffffff;
}

.cr {
    padding: 12px 0 10px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    font-size: .65em;
    text-align: center;
}




@media (max-width: 1575px) {
    .app-examples {
        right: -200px;
    }
}

@media (min-width: 1560px) { .carousel-track { min-width: 1560px } }

@media (max-width: 1410px) {
    .header-menu-container {
        flex: 1;
    }

    .header-menu {
        justify-content: space-around;
    }

    .header-menu-item:not(:last-child) {
        margin-right: 0;
    }


    .app-examples {
        right: -400px;
    }

    .detail-site-wrap {
        width: 50%;
    }
}

@media (min-width: 563px) and (max-width: 838px) {
    .form-input, .form-submit {
        max-width: 400px;
    }
}

@media (min-width: 563px) and (max-width: 1434px) {
    .detail-delivery .detail-text-wrap {
        max-width: 60%;
    }
}

@media (max-width: 1300px) {
    .tabs-wrapper {
        flex-wrap: wrap;
    }

    .tabs {
        order: 1;
    }

    .tab-content {
        margin-bottom: 24px;
    }

    .tabs-badge {
        right: 0;
        left: unset;
    }
}

@media (min-width: 1300px) {
    .tabs {
        padding-bottom: 150px;
    }
}

@media (max-width: 1260px) {
    .site-footer .container {
        flex-wrap: wrap;
    }

    .footer-logo {
        width: 100%;
        margin-bottom: 24px;
        text-align: center;
    }

    .footer-menu {
        order: 1;
    }  

    .footer-menu-list {
        margin-right: 25px;
    }

    .footer-contacts {
        order: 2;
        flex-direction: column;
    }

    .footer-contacts div:first-child {
        margin: 0;
    }
}

@media (min-width:1207px) {
    .desk-hidden {
        display: none;
    }

    .header-phone { 
        padding: 10px 32px;
        transition: .4s;
    }
    
    .header-phone:hover { 
        color: #ffffff;
        background-color: var(--text-dark); 
    }
}

@media (max-width: 1207px) {
    .header-menu-container {
        display: none;
    }

    .mob-menu {
        position: absolute;
        top: 65px;

        padding: 36px 27px;

        background-color: #ffffff;
        opacity: 0;
        transition: .3s;
        box-sizing: border-box;
    }

    .mob-menu.active {
        z-index: 9;
        right: 20px;
        opacity: 1;
    }

    .header-menu {
        margin-bottom: 70px;
    }

    .header-menu-item:not(:last-child) {
        margin-bottom: 16px;
    }

    .header-phone {
        background-color: transparent;
    }


    .slide-heading {
        font-size: 48px;
    }


    .capabilities {
        gap: 70px 55px
    }

    .cap-overlay {
        padding: 16px 12px;
    }

    h2.capabilities-heading {
        margin-bottom: 80px;
    }

    .capability-number {
        top: -60px;
        font-size: 95px;
    }


    .app-examples {
        right: -600px;
    }


    .stage-text {
        font-size: 16px;
    }
}

@media (max-width: 1159px) {
    .slide-info, .slider-image { width: 50% }

    .slide-text {
        font-size: 20px
    }

    .slide-buttons {
        flex-wrap: wrap;
    }

    .slide-button:first-child {
        margin-bottom: 12px;
    }

    .slider-image {
        background-size: contain;
        background-position: center;
    }

    .phone-image {
        width: 70%;
    }

    .slider-image img.slide-arrow {
        display: none;
    }

    .slider-badge {
        right: 0;
        bottom: 60px;
        left: unset;
    }

    .slick-dots {
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 1024px) {
    .page-section {
        padding: 80px 0;
    }


    .details-list {
        grid-template-columns: 1fr;
    }

    .detail {
        flex-wrap: wrap;
    }

    .detail:nth-child(1), .detail:nth-child(2), .detail:last-child {
        grid-column-start: auto;
        grid-column-end: auto;
    }

    .mob-app-badge {
        position: absolute;
        z-index: 5;
        top: 400px;
        right: -30px;
    }

    .detail:first-child {
        padding-top: 503px;
    }

    .detail:last-child {
        padding-top: 252px;
    }

    .app-examples {
        right: -15%;
    }

    .detail:first-child .detail-text-wrap, .detail:last-child .detail-text-wrap {
        position: relative;
        z-index: 4;
        max-width: unset;
        background-color: #ffffff;
    }

    .detail:nth-child(2) {
        flex-wrap: wrap;
    }

    .detail:nth-child(2) .detail-site-wrap {
        width: 100%;
    }

    .site-badge {
        display: none;
    }

    .site-image {
        margin: 34px 0 0;
    }

    .detail:nth-child(2) .detail-text-wrap {
        max-width: unset;
    }

    .detail-review { 
        order: 3;
    }
    .detail-integrations { order: 2 }
    .detail-loyalty { order: 1 }
    .detail-qr { order: 4 }

    .qr-code {
        display: none;
    }

    .qr-badge {
        display: block;
        position: absolute;
        top: 135px;
        right: -30px;
        z-index: 5;
    }

    .qr-badge-textPath {
        font-size: 10px;
        word-spacing: 3px;
    }

    .qr-examples {
        right: 200px;
    }


    .tab-content {
        border-radius: 0;
        margin-left: -16px;
        margin-right: -16px;
    }


    .stages-wrap {
        position: relative;
    }

    .stage-button {
        padding: 0;
        font-size: 14px;
    }

    .timeline {
        position: absolute;
        top: 110px;
        left: 3px;
        width: 6px;
        height: 90%;
        margin: 0;
    }

    .timeline-track {
        width: 100%;
        height: 16%;
    }

    .stage-dot {
        width: 24px;
        height: 24px;
        border-width: 6px;
    }

    .stage-dot:first-child, .stage-dot:nth-child(2), .stage-dot:nth-child(3), .stage-dot:nth-child(4) {
        left: -9px;
    }

    .stage-dot:nth-child(2) {
        top: calc(34% - 10px);
    }

    .stage-dot:nth-child(3) {
        top: calc(67% - 10px);
    }

    .stage-dot:nth-child(4) {
        top: calc(100% - 10px);
    }


    .item-heading {
        font-size: 24px;
    }

    .indicator-text-wrap {
        font-size: 18px;
    }




    .indicator {
        padding: 16px 12px;
    }

    .indicators {
        grid-template-columns: 1fr;
    }

    .indicators-section-heading + .extra-heading {
        display: none;
    }


    .stages-list {
        grid-template-columns: 1fr 1fr;
        padding-left: 32px;
        width: calc(100% - 32px);
     }  


    .case-img {
        width: 450px;
    }


    .form-container { max-width: unset }
     
    .form-wrapper { flex-wrap: wrap }

    .form-container {
        order: 1;
        margin-right: 0;
        border-radius: 0 0 22px 22px;
    }

    .form-image { border-radius: 22px 22px 0 0 }

    .form-badge { 
        top: 75%;
        right: -5px;
     }

    .carousel { overflow-x: scroll }

    .carousel-heading { font-size: 16px }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1600px;
        padding: 0 40px;
    }

    .slider-image:hover { background-size: 90% }

    .carousel::-webkit-scrollbar { display: none }
}

@media (max-width: 972px) {
    .phone-image { border-radius: 55px }
}

@media (max-width: 768px) {
    .heading-secondary { margin-bottom: 0 }

    .extra-heading {
        margin-bottom: 24px;
        float: left;
        clear: both;
    }


    .phone-image { border-radius: 40px }


    .slide-heading { font-size: 27px }

    .slide-text { font-size: 18px }


    .capabilities { display: block }

    li.capability {
        grid-row-start: auto;
        grid-row-end: auto;
        grid-column-start: auto;
    }

    .capability:not(:last-child) { margin-bottom: 64px }

    .qr-examples { display: none }

    .qr-examples-mob {
        top: -103px;
        left: 50%;
        display: block;
        transform: translateX(-200px);
    }


    .indicator-text-wrap {
        display: flex;
        flex-direction: column;
    }

    .indicator .item-heading {
        position: relative;
        z-index: 1;
        white-space: nowrap;
    }

    .indicator:last-child .indicator-image { max-height: 150px }

}

@media (min-width: 564px) and (max-width: 1207px) {
    .mob-menu {
        right: 100vw;
        border-radius: 20px;
        box-shadow: 0 4px 22px rgba(4, 6, 52, 0.12);
    }

    .indicator-image { max-height: 190px }
}

@media (min-width: 564px) {
    .mob-menu-btns .button { margin-right: 10px }

    .footer-contacts div:first-child { margin-bottom: 24px }
}

@media (max-width: 563px) {
    body > .container:first-child {
        position: relative;
        padding: 0;
    }

    button, .button { font-size: 14px }

    .mobile-hidden { display: none }

    .header {
        z-index: 10;
        padding: 10px 16px;
        box-shadow: 0 4px 22px rgba(4, 6, 52, 0.12);
    }

    .header-menu { margin-bottom: 0 }

    .mob-menu { width: 100vw }

    .mob-menu.active {
        right: 0;
        height: calc(100vh - 65px);
    }

    .mob-menu-btns {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    .mob-menu-btns > .button-light { margin-bottom: 12px }

    .heading-secondary, .extra-heading { float: none }

    .heading-secondary {
        margin-bottom: 0;
        font-size: 20px;
        text-align: center;
    }

    .extra-heading {
        margin-bottom: 18px;
        justify-content: center;
        font-size: 14px;
    }

    .item-heading {
        margin-bottom: 8px;
        font-size: 18px;
    }

    p { font-size: 14px }




    .badge {
        width: 90px;
        height: 90px;
    }

    .badge-circle { background-size: 35px }


    .slider-wrap { margin: 24px 0 90px }

    .slide > .flex { flex-direction: column }

    .slide-info, .slider-image {
        width: 100%;
    }

    .slide-info { order: 1 }

    .slide-text { display: none }

    .slide-buttons { justify-content: center }

    .slide-button:first-child { margin: 0 0 12px }

    .slide-heading-mobile {
        display: block;
        text-transform: uppercase;
        font-size: 27px;
    }

    .phone-image { border-radius: 50px }

    .slider-image { margin-bottom: 80px }

    .slider-badge .badge-text { font-size: 11px }

    .slider-badge-textPath { word-spacing: 4px }

    .slick-dots { bottom: 157px }

    .scroll-down { display: none }




    .app-examples {
        width: 600px;
        top: -400px;
        right: -45%;
    }

    .app-exapmle-part { width: 100% }

    .site-badge { display: none }
    
    .detail-text-wrap {
        max-width: 314px;
        padding: 26px 16px 16px 12px;
    }

    .detail-small { padding-top: 100px }

    .detail-delivery { background-image: url('assets/img/del-map-mobile.webp') }

    .detail-review { 
        background-image: url('assets/img/review-mobile.webp');
        background-position: right 16px top 15px;
        background-size: 190px; }

    .detail-integrations {
        background-image: url('assets/img/integrations-mobile.webp');
        background-size: 250px;
    }

    .detail-loyalty {
        background-size: 300px;
        background-position: right -10px top 13px;
    }


    .tabs-badge {
        right: -10px;
        bottom: -60px;
    }

    .tab { font-size: 16px }




    .stage  { padding: 13px }

    .stages-list {
        grid-template-columns: 1fr;
        gap: 16px;
        width: auto;
    }

    .stage-number { font-size: 14px }

    .timeline {
        top: 15px;
        height: calc(100% - 15px);
    }


    .indicators-subheading {
        margin: 8px 0 32px;
        text-align: center;
        font-weight: 500;
    }


    .cases-carousel .color-accent { font-size: 14px }

    .cases-carousel { text-align: center }

    .case-img { width: 300px }




    .form-container { padding: 16px 29px 48px }

    .contact-form { padding: 18px 24px 0 }

    .form-submit { margin-top: 24px }

    .form-input { font-size: 16px }

    .form-badge .badge-circle { background-position-y: 20px }




    .articles-section {
        padding: 55px 0 90px;
        background-color: #ffffff;
    }

    .article-image { width: 200px }

    .article .carousel-heading { font-size: 16px }

    .article .color-accent { font-size: 14px }




    .site-footer .container { padding: 27px 37px 24px }

    .footer-logo, .footer-contacts { margin-bottom: 24px }

    .footer-logo {
        order: 1;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    .footer-contacts, .site-footer .container { flex-direction: column }

    .footer-contacts {
        order: 2;
        text-align: center;
    }

    .footer-contacts div:first-child {
        order: 1;
        margin-right: 0;
        margin-top: 12px;
    }

    .footer-menu {
        position: relative;
        order: 3;
        padding-top: 24px;
    }

    .footer-menu::before {
        content: '';
        position: absolute;
        top: 0;
        left: -25%;
        width: 100vw;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .footer-menu-list { columns: 1 }
    
}

@media (max-width: 425px) {
    .header-logo { padding: 13px 10px }


    .phone-image { border-radius: 30px }


    .indicator:last-child .indicator-image {
        align-self: center;
        max-height: 120px;
    }


    .app-examples { right: -75% }

}