@font-face {
    font-family: Arial;
    src: local('@'),
         url(/assets/fonts/ArialMT.woff2) format('woff2');
    font-weight: normal;
    font-display: block;
}
@font-face {
    font-family: Arial;
    src: local('@'),
         url(/assets/fonts/Arial-BoldMT.woff2) format('woff2');
    font-weight: bold;
    font-display: block;
}
@font-face {
    font-family: 'Orchidea Pro';
    src: url(/assets/fonts/OrchideaPro-Light.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: PTserif;
    src: local('@'),
         url(/assets/fonts/ptserif.woff2);
    font-display: swap;
}

a{font-family: Arial, sans-serif;}
h1,h2,h3,h4 {font-family: 'Orchidea Pro', serif;}
@layer components {
    input {
        padding: 8px 12px;
        border: 1px solid #C0845E66;
        color: #ffffff;
        font-size: clamp(0.727rem, 0.692rem + 0.207vw, 0.818rem);
        font-family: PTserif, serif;
    }
    textarea {
        min-height: 110px;
        max-height: 240px;
        resize: vertical;
    }
}

.header-main.scrolling {
    top: 0;
    color: var(--text-dark);
    background-color: #EEEEEE33;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}
.header-main.scrolling.dark {
    color: var(--text-light);
    background-color: #161B2133;
}
.header-main.dark .header-logo {display: none !important}
.header-main.dark .header-logo.hidden {display: block !important}
.section-dark {
    background-color: var(--text-dark);
    color: var(--text-light);
}

@media (max-width: 768px) {
    .hero-message {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .about-heading-wrap {
        align-items: flex-end;
    }
    .about-heading {
        margin-bottom: -53px;
    }
    .section-text_wrap {margin-bottom: 32px;}
    .about-images_wrap, .recipe-heading_images, .recipe-images {margin: 0 -16px;}

    .recipe-heading_wrap {margin-bottom: 32px;}
    .recipe-heading_images {
        height: 280px;
    }
    .recipe-heading {
        margin-top: -20px;
    }
    .recipe-image:first-child, .recipe-image:first-child img {
        display: block;
        height: 100%;
    }
    .recipe-image {
        object-fit: cover;
    }

    .assort-heading_wrap {
        align-items: flex-end;
    }

    .fav-heading {
        text-align: center;
    }
    .fav-products {
        margin: 0 -16px;
        padding: 0 16px;
        overflow-x: scroll;
    }

    .callback-content {
        padding: 32px 0 50px;
        text-align: center;
    }
    .callback-image_wrap {
        height: 200px;
        margin: 0 -16px;
    }
    .callback-image {
        height: 100%;
        object-fit: cover;
    }
    @layer components {
        .btn--send {
            margin: 0 auto;
        }
    }
}

.header-main {
    position: fixed;
    top: -100px;
    left: 50%;
    z-index: 10;
    
    width: 100%;
    padding: 13px 16px;

    translate: -50%;
    color: var(--text-light);
    transition: background-color .4s, top .4s;
}
.header-main > .container {
    max-width: 1680px;
}
.header-logo {max-width: 70px;}
.header-links {gap: 30px;}
.header-main_link {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header-main_link:last-child {color: var(--accent-color);}

.hero-section {
    min-height: 100vh;
    padding: 32px 16px 20px;
    background-image: 
        radial-gradient(#100d11a8 0%, transparent 70%), 
        url(/assets/img/hero-background-mob.webp);
    color: var(--text-light);
    text-align: center;
    overflow: clip;
}
.hero-section, .hero-parallax {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-section > *:not(.hero-parallax) {z-index: 1;}
.hero-parallax {
    position: absolute;

    width: 120%;
    height: 120%;

    background-image: 
        radial-gradient(#100d11a8 0%, transparent 70%), 
        url(/assets/img/hero-background.webp);
    object-fit: cover;
}
.hero-image {max-width: clamp(5.5rem, 2.125rem + 19.797vw, 11.727rem);}
.hero-heading {
    font-size: clamp(2rem, 1.507rem + 2.89vw, 2.909rem);
    font-weight: 400;
}
.hero-text {
    font-size: clamp(0.909rem, 0.86rem + 0.289vw, 1rem);
}
a.hero-link {
    width: fit-content;
    margin: 0 auto;

    & .decorator {
        margin-left: 16px;
        margin-right: 0;
    }
}
.arrow-decorator {
    position: relative;

    display: flex;
    align-items: center;
    
    color: var(--accent-color);
    font-size: clamp(0.545rem, 0.496rem + 0.289vw, 0.636rem);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    & .decorator {
        margin-left: 0;
        margin-right: 16px;
    }
}
.arrow-decorator .decorator::before, .arrow-decorator .decorator::after {
    display: inline-block;
    transition: transform .4s;
    transform-origin: center;
}
.arrow-decorator .decorator::before {
    content: url(/assets/icons/brown-arrow.svg);
    margin-right: -30px;
}
.arrow-decorator .decorator::after {
    content: url(/assets/icons/brown-circle.svg);
}
.arrow-decorator:hover .decorator:before {
    transform: translate(30px);
}
.arrow-decorator:hover .decorator:after {
    transform: rotate(45deg);
}
.hero-arrow {
    font-family: PTserif, serif;
    font-size: clamp(0.636rem, 0.587rem + 0.289vw, 0.727rem);
    transition: scale .4s;

    &:hover {
        scale: 105%;
    }
}
.hero-arrow:after {
    content: url(/assets/icons/chevron-double-down.svg);
    display: block;
    width: fit-content;
    margin: 15px auto 0;
    animation: topDown 2s ease-in infinite alternate;
}
@keyframes topDown {
    to{translate: 0 10px;}
}

.about-section {
    padding: clamp(2.318rem, 0.393rem + 11.296vw, 7.273rem) 0 clamp(2.909rem, -2.938rem + 34.299vw, 17.954rem);
}
.about-heading-wrap {margin-bottom: clamp(4.364rem, 3.94rem + 2.487vw, 5.455rem);}
.about-heading-wrap .about-image {
    max-width: 230px;
    margin-left: -16px;
}
.about-heading {
    margin-left: -135px;
}
.subheading {
    margin-bottom: 32px;
    color: var(--accent-color);
    font-size: clamp(0.727rem, 0.692rem + 0.207vw, 0.818rem);
    text-transform: uppercase;
}
.about-text:not(:last-child) {
    margin-bottom: 15px;
}
.about-content .arrow-decorator {
    margin-top: 32px;
}
.about-images_wrap {
    position: relative;
}
.about-images_wrap .about-image:last-child {
    position: absolute;
    right: 0;
    bottom: clamp(-1.364rem, -0.498rem + -5.078vw, -3.591rem);
    max-width: clamp(7.5rem, 2.466rem + 29.534vw, 20.454rem);
}

.assortiment-section {
    padding: clamp(2.727rem, 0.961rem + 10.363vw, 7.273rem) 0;
}
.assort-heading_wrap {
    margin-bottom: 120px;
}
.assort-heading_images {
    width: 100%;
    max-width: 230px;
    margin-left: -16px;
}
.assort-heading_content {
    width: 100%;
    margin-bottom: -73px;
    margin-left: -135px;
}

.fav-heading {
    margin-bottom: clamp(0.909rem, 0.662rem + 1.451vw, 1.545rem);
    font-size: clamp(0.727rem, 0.692rem + 0.207vw, 0.818rem);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5em;
}
.fav-products {
    gap: clamp(0.364rem, 0.152rem + 1.243vw, 0.909rem);
}
.fav-product_image {
    min-width: 168px;
    margin-bottom: 8px;
}
.fav-product_name {
    margin-bottom: 4px;
    font-size: clamp(0.727rem, 0.692rem + 0.207vw, 0.818rem);
}
.fav-product_price {
    font-size: clamp(0.818rem, 0.712rem + 0.622vw, 1.091rem);
    color: var(--accent-color);
}

.callback-heading {
    margin-bottom: 20px;
    font-size: clamp(1.364rem, 0.763rem + 3.523vw, 2.909rem);
}
.callback-subheading {
    margin-bottom: 32px;
    font-size: clamp(0.727rem, 0.621rem + 0.622vw, 1rem);
}
.callback-image {
    height: 100%;
    object-fit: cover;
}
.callback-field:not(:last-child) {
    margin-bottom: clamp(0.545rem, 0.475rem + 0.414vw, 0.727rem);
}

@media (min-width: 768px) {
    .header-main {
        top: 0;
        padding: 15px 40px;
    }
    .header-logo {max-width: 103px;}

    .hero-section {
        position: relative;
        justify-content: center;
    }
    .hero-parallax {
        background-image: 
            radial-gradient(#100d11a8 0%, transparent 70%), 
            url(/assets/img/hero-background.webp);
    }
    .hero-image {margin-bottom: 35px;}
    .hero-content {
        max-width: 1067px;
        margin: 0 auto;
    }
    .hero-text {margin-bottom: 44px;}
    a.hero-link {
        cursor: pointer;
        & .decorator {
            order: -1;
            margin-left: 0;
            margin-right: 40px;
        }
    }
    .hero-heading {margin-bottom: 16px;}
    .hero-arrow {
        position: absolute;
        bottom: 20px;
    }

    .about-heading {margin-left: -70px;}
    .about-heading-wrap .about-image {
        max-width: 52%;
        margin-left: 0;
    }
    .about-content {
        flex-direction: row;
    }
    .section-text_wrap {
        max-width: 700px;
        padding: 0 60px;
    }
    .about-images_wrap .about-image:last-child {
        right: -170px;
    }

    .recipe-section {padding-bottom: 160px;}
    .recipe-heading_wrap, .recipe-content {
        flex-direction: row;
    }
    .recipe-heading_wrap {
        align-items: flex-end;
        margin-bottom: 202px;
    }
    .recipe-heading_images {
        position: relative;
    }
    .recipe-heading_images .recipe-image:first-child {
        max-width: 700px;
        margin-top: -159px;
    }
    .recipe-heading_images .recipe-image:last-child {
        position: absolute;
        bottom: -82px;
        left: -170px;
        max-width: 450px;
    }
    .recipe-heading {
        z-index: 1;
        margin-bottom: 152px;
        margin-left: -60px;
    }

    .assort-heading_images {
        max-width: 700px;
        margin-top: -43px;
    }
    .assort-heading_wrap {margin-bottom: 89px;}
    .assort-heading_content {
        & .arrow-decorator {
            justify-content: end;
        }
    }

    .section-callback {
        padding: 165px 0;
    }
    .section-callback > .container {
        flex-direction: row;
        gap: 60px;
    }
    .callback-image_wrap, .callback-content {
        width: 50%;
        max-width: 640px;
    }
    .callback-inner {
        max-width: 520px;
    }
}

@media (min-width: 1024px) {
    .section-text_wrap {
        padding: 0 120px;
    }
}