@font-face {
    font-family: Euclid Circular A;
    src: local('@'),
         url(/assets/fonts/EuclidCircularA-Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: block;
}
@font-face {
    font-family: Euclid Circular A;
    src: local('@'),
         url(/assets/fonts/EuclidCircularA-Medium.woff2) format('woff2');
    font-weight: 500;
    font-display: block;
}
@font-face {
    font-family: Euclid Circular A;
    src: local('@'),
         url(/assets/fonts/EuclidCircularA-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-display: block;
}

:root {
    --text-dark: #1e1e1e;
    --text-light: #FFFFFF;
    --text-muted: #8C8C8C;
    --accent-color: #038F68;
    --grey: #2A2A2ACC;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}
body {overflow-x: hidden;}
body, input, textarea {
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
@layer components {
    button {
        font-family: 'Euclid Circular A', sans-serif;
        font-weight: 500;
        font-size: 16px;
        background-color: transparent;
    }
    .button {
        border: 1px solid #038F68;
        border-radius: 100px; 
        color: var(--accent-color);

        font-size: 14px;
        transition: .2s;

        &:hover {
            color: var(--text-light);
            background-color: var(--accent-color);
        }
    }
    input {border: none}
}
@layer variations {
    .button--filled {
        color: var(--text-light);
        background-color: var(--accent-color);
    }
}
h2 {
    font-size: clamp(1.25rem, 1.153rem + 0.415vw, 1.5rem);
}

@media (min-width: 563px) and (max-width: 1024px) {
    .mob-menu {
        right: -100%;
        border-radius: 20px;
        box-shadow: 0 4px 22px rgba(4, 6, 52, 0.12);
    }
}

@media (max-width: 1024px) {
    @layer components {
        .burger {
            position: relative;
            justify-content: end;
            min-width: 12px;
            height: 12px;
        }
        .burger-line, .burger-line:before, .burger-line:after {
            height: 2px;
            border-radius: 10px;
            background-color: var(--text-dark);
            transition: .2s;
        }
        .burger-line {
            right: 0;
            width: 6px;
        }
        .burger-line:before, .burger-line:after {
            content: '';
            position: absolute;
            width: 12px;
            right: 0;
            transform-origin: right;
        }
        .burger-line:before {bottom: 0px}
        .burger-line:after {top: 0px}
    
        .burger.active .burger-line:before, .burger.active .burger-line:after {width: 14px}
        .burger.active .burger-line {width: 0}
        .burger.active .burger-line:before {rotate: 45deg}
        .burger.active .burger-line:after {rotate: -45deg}
    }

    .mob-menu__rounded {
        padding: 16px;
        border-top: 1.5px solid #E6E6E6;
        border-bottom: 1.5px solid #E6E6E6;
    }
    .mob-menu__cities {
        flex-wrap: wrap;
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        text-align: start;
        color: var(--text-dark) !important;
    }
    .mob-menu__cities:before {
        content: url(assets/icons/location-accent.svg);
        margin-right: 13px;
        margin-bottom: -12px;
    }
    .choose-city_change {
        width: 100%;
        margin-left: 37px;
        font-size: 12px;
        text-transform: capitalize;
    }
    .mob-menu__list {padding: 24px 16px 53px}
    .mob-menu__item:not(:last-child) {margin-bottom: 30px}
    .mob-menu__phone__wrap {
        display: inline-block;

        width: 100%;
        padding: 0 16px;

        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }
    .shop-phone {
        padding: 9px 12px;

        border-radius: 8px;
        background-color: #F5F5F5;

        font-weight: 600;
    }
    .shop-phone span {
        flex: 1;
        white-space: nowrap;
    }
    .shop-phone:before {
        content: 'Телефон';
        margin-right: 12px;
        font-weight: 500;
        color: #999999;
    }
    .shop-phone:after {
        content: url(assets/icons/phone-circle.svg);
        margin-left: 15px;
    }
    .mob-menu_socials {
        gap: 12px;
        margin: 18px 0;
    }
}

.section-heading {margin-bottom: clamp(0.75rem, 0.264rem + 2.073vw, 2rem);}

.header__city-menu {
    gap: 30px;
    padding-left: 24px;
    color: var(--text-muted);

    & .header-menu__list {gap: 30px}
}
.header-city__wrap {
    position: relative;
}
.header-city__current::before {
    content: url('/assets/icons/location.svg');
    margin-right: 12px;
}
.header-city__current::after {
    content: url('/assets/icons/chevron-grey-down.svg');
    margin-left: 12px;
    line-height: 0;
}
.header-city_popup {
    position: absolute;
    top: calc(100% + 21px);
    left: -20px;
    z-index: 2;
    
    width: max-content;
    max-width: 360px;
    padding: 20px 24px;

    opacity: 0;
    overflow: hidden;

    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 4px 22px 0px #00000038;
    transition: .2s ease-out;
    pointer-events: none;

    &.active {
        left: 0;
        opacity: 1;
        pointer-events: all;
    }
}
.header-city_popup > *:not(:last-child) {margin-bottom: 12px}
.header-city_close {
    position: absolute;
    top: 12px;
    right: 12px;

    width: 11px;
    height: 11px;

    background: url(/assets/icons/popup-close-grey.svg) center/contain no-repeat;
    cursor: pointer;
}
.header-city_heading {
    font-size: 18px;
    color: var(--text-dark);
}
.header-city_text {font-weight: 400;}
.header-city_buttons {gap:12px}
.header-city_buttons > button {
    width: 100%;
    padding: 14px 0;
}

.header-catalog {gap:30px}
.header-input__wrap {
    position: relative;
    flex: 1;
}
.header-input__wrap.iconless::after {
    display: none;
}
.header-input__wrap::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;

    width: 20px;
    height: 20px;

    translate: 0  -50%;
    pointer-events: none;
    background-image: url(/assets/icons/search.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
@layer variations {
    .input--header-search {
        padding: 12px 24px;
        border-radius: 100px;
        background-color: #F5F5F5;
    }
}
.input--header-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    margin-right: -8px;
    width: 18px;
    height: 18px;
    background: url(/assets/icons/search-remove.svg) center/contain no-repeat;
    cursor: pointer;
}
.header-account__wrap {
    gap: 20px;
    justify-content: end;
}
.header-account {
    position: relative;
    flex-wrap: wrap;
    text-align: center;
    font-size: 14px;
}
.header-account:before {
    display: block;
    width: 100%;
    margin: 0 auto;
    transition: scale .2s;
}
.header-account__login:before {content: url(/assets/icons/account.svg);}
.header-account__login:after {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(/assets/icons/lightning.svg) center/contain no-repeat;
}
.header-account__cart:before {content: url(/assets/icons/cart.svg);}
.cart-badge {
    position: absolute;
    top: -12px;
    left: 60%;

    padding: 3px 11px;

    border: 1.5px solid #ffffff;
    border-radius: 22px;

    color: #ffffff;
    background-color: var(--accent-color);

    font-size: 13px;
    font-weight: 600;
}

.mob-menu {
    position: absolute;
    z-index: 11;

    background-color: #ffffff;
    color: var(--text-dark);
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    transition: right .3s, opacity .3s;
    overflow: clip;
    pointer-events: none;

    &.active {
        /* top: 139px; */
        right: 20px;
        opacity: 1;
        pointer-events: all;
    }
}

.search-results {
    position: fixed;
    z-index: 12;

    width: 100%;
    height: 0;

    background-color: #ffffff;
    transition: height .6s ease-out;
    overflow: hidden;
}
.search-results.active {
    height: 100%;
}
.nothing-found {text-align: center;}
.nothing-found_heading {
    margin: 36px 0 28px;
}

.result-list {
    grid-template-columns: 1fr;
}
@media (min-width: 1300px) {
    .result-list {grid-template-columns: repeat(5, 1fr);}
}
@media (min-width: 768px) and (max-width: 1300px) {
    .result-list {
        grid-template-columns: repeat(4,1fr);
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .result-list {
        grid-template-columns: repeat(3,1fr);
    }
}
@layer components {
    .product-card {
        position: relative;

        display: flex;
        flex-direction: column;

        border-radius: 12px;
        transition: box-shadow .4s;
    }
}
.product-card__image-wrap {
    position: relative;

    margin: clamp(0.5rem, 0.403rem + 0.415vw, 0.75rem);
    margin-bottom: 0;
    padding: 23px 16px;

    border-radius: 8px;
    background-color: #F5F5F5;
}
.product-card__stock, .product-card__favourite {position: absolute;}
.product-card__stock {
    top: clamp(0.438rem, 0.209rem + 0.976vw, 1.063rem);
    left: clamp(0.438rem, 0.232rem + 0.878vw, 1rem);
    font-size: clamp(0.625rem, 0.579rem + 0.195vw, 0.75rem);
    font-weight: 500;
    pointer-events: none;
}
.badge--hot {
    padding: 5px 9px;
    border-radius: 100px;
    color: #ffffff;
    background-color: var(--text-dark);
}
.badge--hot:before {
    content: url(assets/icons/fire.svg);
    height: 14px;
    margin-right: 7px;
}
.product-card__favourite {
    top: clamp(0.438rem, 0.316rem + 0.518vw, 0.75rem);
    right: clamp(0.438rem, 0.316rem + 0.518vw, 0.75rem);

    width: clamp(1.5rem, 1.317rem + 0.78vw, 2rem);
    height: clamp(1.5rem, 1.317rem + 0.78vw, 2rem);

    border-radius: 100px;
    transition: opacity .4s;
}
.product-card__favourite:hover {opacity:.5}
.product-card__favourite.active:hover {opacity: 1}
.product-card__favourite.active {
    animation: heartBeat .4s alternate;
}
@keyframes heartBeat {
    50%{scale: 1.2;}
    100%{scale: 1;}
}
.product-card__favourite svg {fill: #BFBFBF;}
.product-card__favourite.active path {
    fill: #F58342;
    stroke: #F58342;
}
.product-card__content {
    height: 100%;
    padding: clamp(0.25rem, 0.067rem + 0.78vw, 0.75rem) clamp(0.438rem, 0.232rem + 0.878vw, 1rem) 22px;
}
.product-card__meta{
    width: 100%;
    margin-bottom: 5px;
    color: #A0A0A0;
    font-size: clamp(0.75rem, 0.704rem + 0.195vw, 0.875rem);
    font-weight: 500;
}
.product-card__name {
    font-size: clamp(0.875rem, 0.778rem + 0.415vw, 1.125rem);
    margin-bottom: 5px;
}
.product-card__order {
    position: absolute;
    right: 12px;
    bottom: 14px;
    justify-content: end;
}
.product-card__input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 0;
    height: 100%;
    transition: width .4s;
    overflow: hidden;
}
.set-quantity {
    position: absolute;
    top: 50%;

    display: flex;
    align-items: center;
    width: clamp(0.625rem, 0.442rem + 0.78vw, 1.125rem);
    height: 100%;

    translate: 0 -50%;
    cursor: pointer;
}
.set-quantity.minus {
    left: 21px;
}
.set-quantity.plus {
    right: 21px;
}
.set-quantity path {stroke: #038F68}

@layer variations {
    .button--product-card {
        padding: 10px 17px;
        transition: .4s;
    }

    .input--product-card{
        height: 100%;
        border-radius: 100px;
        background-color: #F5F5F5;
        text-align: center;
        -moz-appearance: textfield;
    }
}

.input--product-card::-webkit-outer-spin-button,
.input--product-card::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button--product-card.active {opacity: 0;}
.button--product-card.active + .product-card__input {
    z-index: 1;
    width: 100%;
}

.product-card__price-wrap {
    flex-wrap: wrap;
    margin-top: auto;
    transition: opacity .2s;
}
.product-card__price {
    margin-right: 8px;
    font-size: clamp(1rem, 0.909rem + 0.39vw, 1.25rem);
}
.product-card__old-price{
    position: relative;
    color: #A0A0A0;
    font-size: clamp(0.75rem, 0.704rem + 0.195vw, 0.875rem);
    font-weight: 400;
}
.product-card__old-price:after {
    content: '';

    position: absolute;
    top: 50%;

    display: block;
    width: 100%;
    height: 1px;

    translate: 0 50%;
    border-radius: 1px;
    box-shadow: 0px 1px 0px 0px #FFFFFF;
    background-color: #A0A0A0;
}

.bottom-menu {
    position: sticky;
    bottom: 0;
    z-index: 10;

    width: 100%;
    padding: 8px 16px;

    border-radius: 31px 31px 0 0;
    box-shadow: 0px -4px 22px 0px #0000000F;
    background-color: #FFFFFFD9;
    color: #BABABA;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    font-size: 12px;
    font-weight: 400;
}
.bottom-menu__list {justify-content: space-around}
.bottom-menu__icon {
    display: block;
    margin: 0 auto;
}
.bottom-menu__item {position: relative}
/* .bottom-menu__item .cart-badge {
    top: -5px;
    left: 60%;
    padding: 3px 9px;
    font-size: 12px;
    line-height: 1;
} */
.bottom-menu__item.active {color: var(--accent-color)}
.bottom-menu__item.active path {fill: var(--accent-color)}
.bottom-menu__item.active.favourite path {
    stroke: var(--accent-color);
    fill: transparent;
}

.popup--cart .popup__background {
    padding: 0;
}
.popup--cart .popup__boundary {
    justify-content: end;
    margin: 0;
}
.popup--cart_content {
    position: relative;
    width: 100%;
    max-width: 520px;
    overflow-y: scroll;
}
.popup--cart .icon--popup-close {
    right: calc(100% + 14px);
}
.popup--cart_content {
    padding: clamp(1rem, 0.806rem + 0.829vw, 1.5rem);
    background-color: #ffffff;
}
.popup--cart_main {
    height: 100%;
}
.popup--cart_clear-btn {
    position: absolute;
    top: clamp(1.125rem, 1.004rem + 0.518vw, 1.438rem);
    right: 16px;
    font-size: 14px;
}
.popup--cart-heading-total, .popup--cart_heading {
    font-size: clamp(1.125rem, 1.076rem + 0.207vw, 1.25rem);
}
.popup--cart_subheading {
    margin-bottom: clamp(0.75rem, 0.556rem + 0.829vw, 1.25rem);
    font-size: 14px;
    font-weight: 400;
}
.popup--cart_cards, 
.popup--cart_prize, 
.popup--cart_recommend,
.popup--cart_promo {
    margin-bottom: clamp(1rem, 0.611rem + 1.658vw, 2rem);
}
.popup--cart_card {
    margin: 0 clamp(-1rem, -0.806rem + -0.829vw, -1.5rem);
    padding: 12px 24px;
    box-shadow: 0px 4px 33px 0px #0000000D;
}
.popup--cart_card:not(:last-child) {margin-bottom: clamp(0.5rem, 0.403rem + 0.415vw, 0.75rem);}
.popup--cart_content .product-card__image-wrap {
    margin: 0;
    padding: 8px;
}
.popup--cart_card-content {
    position: relative;
    flex: 1;
    margin-left: clamp(0.5rem, 0.403rem + 0.415vw, 0.75rem);
}
.cart-product__remove {
    position: absolute;
    top: 6px;
    right: 0;

    width: 10px;
    height: 10px;

    background: url(/catalog/assets/icons/x-gray.svg) center/cover no-repeat;
}
.popup--cart_card-heading {
    margin-bottom: clamp(1.438rem, 1.219rem + 0.933vw, 2rem);
    font-size: clamp(0.875rem, 0.778rem + 0.415vw, 1.125rem);
}
.card-meta-left {
    gap: clamp(0.25rem, -0.041rem + 1.244vw, 1rem);
}
.popup--cart_card .product-card__input {
    position: relative;
    z-index: 1;

    width: 100%;
    max-width: 122px;
}
.popup--cart_card .input--product-card {
    padding: 11px 0;
}
.popup--cart_card-price {
    font-size: clamp(1rem, 0.903rem + 0.415vw, 1.25rem);
}
.prize-info {
    width: 18.5px;
    height: 18.5px;
    background: url(/catalog/assets/icons/points-info.svg) center/contain no-repeat;
}
.prize-line-wrap {
    flex: 1;
    padding: 0 clamp(0.5rem, 0.403rem + 0.415vw, 0.75rem);
    text-align: center;
}
.price-line_text {
    margin-bottom: 8px;
}
.prize-line {
    position: relative;

    width: 100%;
    height: 5px;

    border-radius: 8px;
    background-color: #0000001A;
}
.prize-track {
    width: 55%;
    height: 100%;

    border-radius: 8px;
    background-color: var(--accent-color);
}
.prize-icon {
    position: absolute;
    top: 50%;
    right: -15px;

    width: 40px;
    height: 40px;

    translate: 0 -50%;
    background: url(/catalog/assets/icons/gift-green.svg) center/cover no-repeat;
}
.popup--cart_heading {margin-bottom: 12px;}
.recommend-list {
    gap: 12px;
    overflow-x: scroll;
}
.recommend-card {
    position: relative;

    min-width: 250px;
    padding: 8px;

    border-radius: 12px;
    box-shadow: 0px 4px 22px 0px #745C0012;
}
.recommend-card_content {
    position: relative;
    flex: 1;
    margin-left: 8px;
    padding-bottom: 8px;
}
.recommend-heading {
    font-size: 14px;
}
.recommend-price {
    font-size: 16px;
}
.recommend-card .product-card__order {
    right: 0;
    bottom: 0;
    left: 0;
}
.recommend-card .button--product-card {
    width: 36px;
    height: 36px;
    padding: 0;
    background-color: var(--accent-color);
    font-size: 0;
}
.recommend-card .button--product-card:before {
    content: url(/assets/icons/plus-white.svg);
}
@layer variations {
    .promo-input {
        padding: 14px;
        border-radius: 12px;
        background-color: #F5F5F5;
    }
}
.promo-accept {
    padding: 15px;
}
.popup--cart_total {
    margin: auto -16px 0;
    padding: 14px 16px;
    border-radius: 22px 22px 0 0;
    background-color: #F5F5F5;
}
.total-points {gap:12px}
.total-points:before {
    content: '';
    padding: 13.5px;
    background: url(/catalog/assets/icons/check-green.svg) center/contain no-repeat;
}
.total-points_text {
    font-size: clamp(0.875rem, 0.826rem + 0.207vw, 1rem);
    font-weight: 500;
}
.total-points_text + .text-muted {font-size: clamp(0.75rem, 0.701rem + 0.207vw, 0.875rem)}
.total-info {
    width: 100%;
    margin: clamp(0.75rem, 0.653rem + 0.415vw, 1rem) 0;
    padding: clamp(0.625rem, 0.382rem + 1.036vw, 1.25rem) 0;

    border-top: 1.5px solid #0000001A;
    border-bottom: 1.5px solid #0000001A;

    font-size: clamp(0.875rem, 0.826rem + 0.207vw, 1rem);
    font-weight: 400;
}
.popup--cart_total-text {font-size: 18px}
.popup--cart_total-price {
    font-size: clamp(1.25rem, 1.153rem + 0.415vw, 1.5rem);
}
.popup--cart_total-button {
    width: 100%;
    margin-top: 20px;
    padding: 18px;
}
.popup--cart_total-button:after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 10px;
    margin-left: clamp(0.5rem, 0.257rem + 1.036vw, 1.125rem);
    background: url(/catalog/assets/icons/chevron-right-white.svg) center/contain no-repeat;
}

@media (max-width: 563px) {
    .mob-menu {
        right: 0;
        width: 100vw;
        height: calc(100svh - 139px);
        overflow-y: scroll;
        overscroll-behavior-y: contain;
    }
    .mob-menu.active {right: 0}
}

@media (max-width: 768px) {
    input, textarea {font-weight: 400;}

    .header {
        background-color: #f5f5f5;
    }
    .header-line {
        margin: 0 -16px;
        padding: 16px;
    }
    .header-line__bottom {
        border-radius: 21px 21px 0 0;
        background-color: #ffffff;
    }
    .button--page-back:before {
        content: '';
        display: block;
        width: 17px;
        height: 12px;
        background: url(/assets/icons/arrow-black-left.svg) center/contain no-repeat;
    }

    .search-result {
        flex-direction: row;
        
        & .product-card__image-wrap {
            max-width: 50px;
            margin: 0;
            padding: 0;
        }

        & .product-card__stock, .product-card__favourite, .product-card__meta {
            display: none;
        }

        & .product-card__content {
            width: 100%;
            padding: 4.5px 110px 4.5px 8px;
        }

        & .product-card__order {
            bottom: 50%;
            z-index: 1;
            translate: 0 50%;
        }

        & .button--product-card.active + .product-card__input {
            width: 95px;
        }
    }

    .product-card__content {
        padding-bottom: 35px;
    }
    .product-card__order {left: 8px}
    .product-card__order.active + .product-card__price-wrap .product-card__meta {opacity: 0;}
    .button--product-card {
        width: 36px;
        height: 36px;
        padding: 0;

        background-color: var(--accent-color);
        font-size: 0;
    }
    .button--product-card:before {
        content: url(/assets/icons/plus-white.svg);
    }

    .promo-form {position: relative}
    .promo-accept {
        position: absolute;
        top: 50%;
        right: 0;
        translate: 0 -50%;
    }

    .popup--cart_content {
        background-color: #f5f5f5;
    }
    .popup--cart_heading-mob {margin-bottom: 12px;}
    .popup--cart_heading-mob .popup--cart_heading {margin-bottom: 0;}
    .popup--cart_main {
        margin: 0 -16px;
        padding: 14px 16px 0;

        border-radius: 21px 21px 0 0;
        background-color: #ffffff;
    }
}

@media (min-width: 768px) {
    .header {
        padding: 17px 0;
    }
    .header.scrolling {
        position: sticky;
        top: 0;
        z-index: 10;

        padding: 14px 0 2px;

        background-color: #FFFFFFCC;
        backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    .header-line {padding: 8px 0;}
    .header-line__up {
        max-height: 100px;
        transition: all .4s;
    }
    .header.scrolling .header-line__up {
        padding: 0;
        max-height: 0;
        overflow: hidden;
    }
    .header-input__wrap {
        margin-left: 52px;
    }

    .product-card__meta {order: -1}

    .site-footer {
        margin-top: 110px;
    }

    @layer variations {
        .button--filled:hover {
            background-color: #027655;
        }
    }
}

@media (min-width: 1024px) {
    .burger {display:none}

    .header-logo__wrap {
        padding-right: 24px;
        border-right: 1.5px solid #0000001A;
    }
    .header-catalog_item a, .header-phone {
        display: inline-block;
        transition: scale .2s;
    }
    .header-input__wrap {margin: 0 52px;}
}

@media (min-width: 1270px) {
    .header-menu__item:hover a {color: var(--text-dark);}
    .header-catalog_item:hover a, .header-phone:hover {scale: 102%}
    .header-account:hover:before {scale: 110%}

    .product-card:hover {
        box-shadow: 0px 4px 22px 0px #0000001C;
    }
}