body {
    color: #FFFFFF80;
    background-color: #202020;
    overflow-x: clip;
}

h1, h2, h3 {
    color: #FFFFFF;
    font-weight: 600;
}

p { font-size: clamp(0.888rem, 0.808rem + 0.213vw, 1rem) }

.header { display: none }

.mb-150 {margin-bottom: clamp(5.555rem, 3.571rem + 5.291vw, 8.333rem)}

.center-text { text-align: center }


.case-hero {
    margin-bottom: clamp(2.777rem, 0.793rem + 5.291vw, 5.555rem);
    padding: 20px 0 75px;

    background-image: url('../bao/img/bao-hero-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    overflow-x: clip;
}

.container {position: relative}

.case-logo { max-width: 121px }

.case-header { 
    max-width: 785px;
    margin:  0 auto clamp(1.666rem, 1.348rem + 0.848vw, 2.111rem);

    font-size: clamp(1.222rem, 0.826rem + 1.057vw, 1.777rem);
    line-height: 1.5em;
}

.hero-images, .case-hero__credits { 
    position: relative;
    z-index: 2;
}

.hero-image__wrap:nth-child(2) {
    position: relative;
    z-index: 1;
    margin: 0 clamp(-2.777rem, -7.538rem + 12.695vw, 3.888rem);
}

.hero-image__left, .hero-image__right {
    max-height: 492px;
    opacity: 0;
}
.hero-image__main { max-height: 573px }
.hero-image__left { translate: 100%; }
.hero-image__right { translate: -100%; }

.animate .hero-image__left, .animate .hero-image__right {
    animation: phoneAppear .6s forwards ease-in-out;
}

@keyframes phoneAppear {
    100% {translate: 0; opacity: 1;}
}

.case-hero__credits {
    margin-top: clamp(2.888rem, 3.443rem + -1.48vw, 2.111rem);
}

.case-hero__credits img { max-height: 47px }

.leaves {
    position: absolute;
    width: auto;
    transform: rotate(-10deg);
    transition: translate .5s ease-out;
    animation: leavesShake 3s infinite alternate;
}
.leave-image { width: auto; }
.dir-reverse { animation-direction: alternate-reverse; }
.anim-slow { animation-duration: 5s; }

@keyframes leavesShake {
    to { scale: .9 }
} 

.leaves.mobile { display: none; }

.hero-leaves:first-of-type {
    bottom: 0;
    right: 90%;
}

.hero-leaves:nth-of-type(2) {
    top: 0;
    left: 90%;
}


.case-about .container { align-items: end }

.case-about__text { max-width: 575px }

.case-heading--secondary {
    margin-bottom: 24px;
    font-size: clamp(1.222rem, 0.826rem + 1.057vw, 1.777rem);
    color: #ffffff;
}

.case-about__prgrph:not(:last-child) { margin-bottom: 10px }

.case-about__info { text-align: end; }

.about-info__name {
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
    text-transform: uppercase;
}

.case-about__info__item:not(:last-child) {
    margin-bottom: 24px;
}

.about-info__text {
    display: inline-block;
    padding: 11px 15px;

    font-size: 16px;
    border-radius: 8px;
    white-space: nowrap;
}

.about-info__anim {
    display: block;
    max-width: 0;
    transition: max-width 2s;
    overflow: hidden;
}

.animate .about-info__anim { max-width: 400px }

.case-about__info__item:first-child .about-info__text {
    color: #AEBF3A;
    background-color: #AABA3721;
}

.case-about__info__item:nth-child(2) .about-info__text {
    color: #54B4DF;
    background-color: #54B4DF2E;
}

.case-about__info__item:last-child .about-info__text {
    color: #FE813B;
    background-color: #C78C3421;
}


.indicators-leaves {
    left: 105%;
    bottom: -50%;
    transform: rotate(150deg);
}

.case-subheading {
    max-width: 738px;
    margin: 0 auto;
    font-size: clamp(0.888rem, 0.808rem + 0.213vw, 1rem);
    line-height: 1.5em;
}

.case-indicators .case-subheading {
    margin-bottom: clamp(1.333rem, 0.302rem + 2.75vw, 2.777rem);
}

.case-indicators__cards {
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(0.666rem, -0.207rem + 2.328vw, 1.888rem);
}

.case-indicators__card {
    gap: 22px;
    padding: 32px;
    border-radius: 10px;
    background-color: #FFFFFF0D;
}

.indicator-number {
    color: #ffffff;
    font-size: clamp(2.777rem, 2.221rem + 1.482vw, 3.555rem);
}

.indicator-text {
    line-height: 1.5em;
    font-weight: 400;
}

.indicator-accent {
    color: #AFBF3A;
    font-weight: 700;
}


.tasks, .case-indicators, .app-description { overflow-x: clip; }

.tasks-list {
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(0.666rem, -0.207rem + 2.328vw, 1.888rem);
}

.case-task {
    padding: 28px 64px 50px 23px;
    border-radius: 11px;
    background-color: #2B2B2B;
}

.task-wrap {
    display: inline-block;
    margin-bottom: 23px;
    padding: 11px 17px;
    border-radius: 8px;
    background-color: #323423;
}

.task-heading {
    margin-bottom: 11px;
    line-height: 1.5em;
    font-size: clamp(1rem, 0.841rem + 0.423vw, 1.222rem);
}

.task-text {
    font-weight: 400;
    line-height: 1.6em;
}

.tasks-logo__wrap {
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 0;
}
.tasks-logo { width: auto; }

.case-task__solution {
    grid-column-start: 2;
    grid-column-end: 4;
}

.case-task__solution .case-heading--secondary {
    margin-bottom: clamp(0.666rem, 0.348rem + 0.848vw, 1.111rem);
}

.task-leaves {
    right: 100%;
    bottom: -130px;
}


.work-value { margin-bottom: clamp(5.555rem, 4.761rem + 2.116vw, 6.666rem); }

.work-value__subheading { margin-bottom: 32px }
.work-value__list {
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(0.666rem, -0.207rem + 2.328vw, 1.888rem);
}

.work-value__item {
    padding: 21px 24px 31px;
    border-radius: 9px;
    background-color: #2A2A2A;
}


.app-description {
    margin-bottom: 60px;
    padding: clamp(3rem, -0.016rem + 8.042vw, 7.222rem) 0 clamp(4.222rem, 1.286rem + 7.83vw, 8.333rem);

    background-image: url('../bao/img/bao-desc-background.png');
    background-position-x: center;
    background-repeat: repeat-x;
    background-size: cover;
}

.desc-item { position: relative; }

.desc-item > .flex {
    gap: clamp(1.777rem, -1.319rem + 8.255vw, 6.111rem);
}

.desc-item:not(:last-child) {
    margin-bottom: 100px;
}

.desc-image__wrap { gap: clamp(0.888rem, 0.332rem + 1.482vw, 1.666rem) }

.desc-image {
    display: block;
    max-width: 279px;
}

.desc-text__wrap {
    width: 100%;
    max-width: 604px;
}

.desc-text {
    font-weight: 400;
    line-height: 1.9em;
}

.desc-item:first-child .leaves, .desc-item:last-child .leaves {
    top: 70%;
    left: 105%;
    rotate: 155deg;
}

.desc-item:nth-child(2) .leaves {
    right: 100%;
    bottom: -20%;
}


.case-footer .case-heading--secondary {
    margin-bottom: 0;
    font-weight: 600;
}

.case-footer .contact.animate {
    background-position: 100vh center;
}

.case-footer__logo {
    max-width: 161px;
    margin-bottom: 29px;
}
.case-footer__credits { max-width: 339px; }

.case-footer .contact {
    margin: 50px 0 40px;
    padding: 32px 20px 44px;
    border-radius: 20px;
    background-color: #2A2A2A;
    background-image: url('../bao/img/contact-gradient.webp');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -150vh center;
    transition: background-position 1s;
}

.case-footer .contact-text {
    margin: 12px 0 20px;
    font-weight: 400;
}

.btn--case-contact { 
    width: 100%;
    max-width: 400px;
    padding: 19px;
    background-color: var(--color-accent);
}

.sk-logo {
    max-width: 203px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.sk-desc {
    max-width: 453px;
    margin: 0 auto;
    padding-bottom: 71px;
    color: #ffffff;
}


@media (min-width: 1960px) {
    .app-description { background-size: contain; }
}


@media (min-width: 768px) {
    .desc-item:nth-child(even) > .flex {
        flex-direction: row-reverse;
    }

    .desc-image__wrap > div { opacity: 0; }

    .animate .desc-image__wrap > div {
        animation: phoneAppear .6s ease-in-out forwards;
        animation-delay: .4s;
    }

    .desc-image__wrap > div:first-child {
        translate: 0 120px;
    }

    .desc-image__wrap > div:last-child {
        translate: 0 -120px;
    }
}


@media (max-width: 768px) {
    .leaves, .desc-item:after { 
        animation: leavesMob 3s ease-in-out infinite alternate;
    }
    @keyframes leavesMob { to {translate: 0 -20px } }

    .case-logo { margin: 25px 0 31px; }

    .case-header .text-muted {
        white-space: nowrap;
        color:#FFFFFF80;
    }

    .leaves.mobile { display: block; }
    .hero-leaves.mobile {
        top: 54px;
        right: -160px;
        transform: scale(.5);
    }
    .hero-leaves:first-of-type {
        bottom: -45px;
        right: 50%;
        z-index: 1;
        opacity: .2;
        transform: rotate(11deg);
    }
    .hero-leaves:nth-of-type(2) {
        top: -175px;
        left: 45%;
        opacity: .2;
    }


    .case-about .container {
        flex-direction: column;
        align-items: start;
    }

    .case-about__info { text-align: left }

    .case-about__text { margin-bottom: 24px }


    .case-indicators__cards, .tasks-list { grid-template-columns: 1fr }
    .indicators-leaves {
        bottom: 93%;
        left: 35%;
        transform: rotate(0) scale(.5);
    }


    .tasks-logo__wrap, .task-leaves { display: none; }
    .case-task, .case-task__solution {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .case-task__solution > p { text-align: center }
    .case-task__solution .case-heading--secondary { margin: 12px 0; }
    .case-task__solution .case-subheading { margin-bottom: 24px }

    .case-task { padding: 28px 23px 32px; }


    .work-value__list { grid-template-columns: 1fr 1fr }
    .work-value__item { padding:28px 15px 32px; }

    
    .desc-item > .flex { flex-direction: column-reverse; }
    .desc-image { width: revert-layer; }
    .desc-image__wrap {width: 100%}

    .desc-item:after {
        content: url('../bao/img/bao-leaves-mobile.png');

        position: absolute;
        top: -110px;
        right: -10px;
    }

    .desc-item:not(:first-child):after {
        transform: rotate(-20deg);
        top: -100px;
        right: -30px;
    }

    .case-footer {position: relative;}

    .case-footer:before, .case-footer::after {
        content: url('../bao/img/bao-leaves-mobile.png');
        position: absolute;
    }
    .case-footer:before {
        top: -12%;
        left: 0;
        transform: rotate(70deg);
    }
    .case-footer:after {
        top: -10%;
        right: 0;
    }
}

@media (max-width: 563px) {
    .app-description {
        background-image: url('../bao/img/bao-desc-background-mobile.png');
    }

    .contact-text { font-size: 14px; }

    .case-footer__logo {max-width: 128px;}
    .btn--case-contact {max-width: 212px;}
}