@font-face {
    font-family: Montserrat;

    src: local('@'), 
        url('assets/fonts/Montserrat-Black.woff2') format('woff2'),
        url('assets/fonts/Montserrat-Black.woff') format('woff');

    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;

    src: local('@'), 
        url('assets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('assets/fonts/Montserrat-Bold.woff') format('woff');
        
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: Montserrat;

    src: local('@'), 
        url('assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('assets/fonts/Montserrat-SemiBold.woff') format('woff');
        
    font-weight: 600;
    font-display: fallback;
}

@font-face {
    font-family: Montserrat;

    src: local('@'), 
        url('assets/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('assets/fonts/Montserrat-Medium.woff') format('woff');
        
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;

    src: local('@'), 
        url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('assets/fonts/Montserrat-Regular.woff') format('woff');
        
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Agbalumo;

    src: local('@'), 
        url('assets/fonts/Agbalumo-Regular.woff2') format('woff2'),
        url('assets/fonts/Agbalumo-Regular.woff') format('woff');
        
    font-weight: 400;
    font-display: swap;
}

:root {
    --site-green: #90EBAA;
    --site-blue: #B6E4F6;
    --site-yellow: #FFF490;
    --site-purple: #E0C3FF;
    --site-orange: #FDD18E;
    --site-red: #FFBEBD;
    --site-sinii: #AFCFFF;
    --text-dark: #2d2d2d;
    --accent-gray: #CACACA;
    --sticky-fix: 309.5px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

a { 
    color: unset;
    text-decoration: none;
}

body {
    min-height: 100vh;
    margin:0;

    color: var(--text-dark);
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;

    overflow-x: clip;
}

main { flex: 1 }

h1, h2, h3, h4, h5 { margin: 0 }

h3 { font-size: 20px }

ul, ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    line-height: 25px;
}

li { 
    display: block;
    list-style: none;
}

figure { margin: 0 }

figure img { display: block }

img {
    width: auto;
    height: auto;
}

.page-section { 
    padding: 100px 0 130px;
    overflow-x: clip; 
}

.section-dark {
    background-color: #232323;
}

.section-dark .heading-secondary { color: #ffffff }

.section-dark .heading-secondary::after { background-color: #ffffff; }

::placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    opacity: 1; /* Firefox */
  }

input {
    color: var(--text-dark);
    border: 1px solid transparent;
    font-weight: 500;
}

input:focus {
    border-color:  var(--text-dark);
    outline: none;
}

button, .button {
    padding: 19px 43px;
    border-radius: 100px;
    border:none;

    color: #ffffff;
    background-color: var(--text-dark);

    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 16px;
    transition: .4s;
    cursor: pointer;
}

button:hover { background-color: #545454 }

.br-22 { border-radius: 22px }

.hidden { display: none}

.button-light {
    border: 1px solid var(--text-dark);
    color: var(--text-dark);
    background-color: #ffffff;
}

.button-light:hover {
    color: #ffffff;
    background-color: var(--text-dark);
}

.container {
    width: 100%;
    max-width: 1559px;

    margin: 0 auto;
    padding: 0 40px;
}

.heading-secondary { 
    position: relative;

    margin-bottom: 72px;

    font-size: 35px;
    text-align: center;
    transform: rotate(.6deg);
}

.heading-secondary:after {
    content: '';

    position: absolute;
    bottom: -25px;
    left: 50%;

    width: 132px;
    height: 6px;

    border-radius: 12px;
    background-color: #232323;
    transform: translateX(-50%) rotate(-.6deg);
}

.form-heading { 
    margin-bottom: 16px;
    font-size: 30px;
 }

.grid { display: grid }

.flex { display: flex }

.justify-sb { justify-content: space-between }

.justify-center { justify-content: center }

.align-center { align-items: center }

.align-end { align-items: flex-end }

.fd-column { flex-direction: column }

.fw-600 { font-weight: 600 }

.w-100 { width: 100% }

.extra-heading { 
    height: 43px;

    color: var(--text-dark);
    font-size: .8em;
    text-transform: uppercase;

    float: right;
 }

.badge {
    width: 130px;
    height: 130px;

    border-radius: 100px;
    background-color: #ffffff;
    box-shadow: 0 0 12px rgba( 0, 0, 0, .11 );
}

.badge-circle {
    width: 100%;
    height: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 51px;

    transform-origin: center;
}




.header-container {
    position: relative;
    width: 100%;
}

.header {
    position: relative;
    padding: 25px 0;
}

.header-logo, .footer-logo {
    margin-top: -10px;

    font-family: Agbalumo, sans-serif;
    text-transform: capitalize;
}

.header-logo {
    font-size: 33px; 
    line-height: 0;
}

.header-logo .color-changing, .footer-logo .color-changing {
    color: #71D78F;
}

.header-menu-container {
    display: none
}

.header-menu-item a { 
    transition: font-weight .4s;
 }

.header-menu-item:hover a { font-weight: 700 }

.header-menu-item:not(:last-child) { margin-bottom: 16px }

.header-phone { font-size: 16px }

.burger, .burger-line {
    border-radius: 4px;
}

.burger {
    position: relative;

    min-width: 28px;
    margin-left: 16px;
    padding: 13px 7px;

    background-color: #f5f5f5;
    cursor: pointer;
    box-sizing: border-box;
}

.burger-line, .burger-line:before, .burger-line:after {
    position: absolute;
    width: 14px;
    height: 2px;
    border-radius: 10px;
    background-color: var(--text-dark);
    transition: .2s;
} 

.burger-line {
    right: 7px;
    width: 9px;
}

.burger-line:before, .burger-line:after {
    content: '';
    right: 0;
    transform-origin: right;
}

.burger-line:before {
    top: 7px;
}

.burger-line:after {
    bottom: 7px;
    
}

.burger.active .burger-line {
    width: 0;
}

.burger.active .burger-line:before {
    transform: rotate(45deg);
}

.burger.active .burger-line:after {
    transform: rotate(-45deg);
}

.burger.active .burger-line:before, .burger.active .burger-line:after {
    width: 20px;
}

.mob-menu {
    position: fixed;
    top: 65px;

    padding: 36px 27px;

    background-color: #ffffff;
    opacity: 0;
    transition: .3s;
}

.mob-menu.active {
    z-index: 9;
    right: 20px;
    opacity: 1;
}



#hero-section { overflow: hidden }

.slider-wrap {
    position: relative;
    margin-top: 48px;
    margin-bottom: 108px;
}

.nav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;

    width: 100%;
    max-width: 1559px;

    transform: translateX(-50%);
    pointer-events: none;
}

.nav-container > * {
    pointer-events: all;
}

/*фикс сдвига макета*/
.slider { justify-content: center }
.slide:not(:first-child) { display: none }


.slider {
    width: 61%;
}

.slide > .flex { position: relative }

.slick-arrow {
    position: absolute;
    z-index: 3;
    top: 50%;

    width: 15px;
    height: 15px;
    padding: 0;
    
    background-color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
}

.slider-wrap .slick-arrow {
    width: 25px;
    height: 25px;
    border: 1px solid #2d2d2d;
    background-size: 7px 14px;
    transform: scale(1.1);
    animation: arrowBeforeHover 1s infinite alternate;
}

@keyframes arrowBeforeHover {
    to{transform: scale(1.2)}
}

@keyframes arrowAfterHover {
    20%{transform: scale(1.2)}
    40%{transform: scale(1)}
    60%{transform: scale(1.3)}
    100%{transform: scale(1.1)}
}


.slick-prev {
    left: 0;
    background-image: url('assets/icons/chevron-left-small-black.svg');
}

.slider-wrap .slick-prev:hover { background-image: url(assets/icons/chevron-left-white.svg) }

.slick-next {
    right: 0;
    background-image: url('assets/icons/chevron-right-small-black.svg');
}

.slider-wrap .slick-next { background-position: 55% center }

.slider-wrap .slick-next:hover { background-image: url(assets/icons/chevron-right-white.svg) }

.slick-disabled { opacity: .5 }

@media (min-width: 1920px) {
    .slick-prev {
        left: -154px;
    }
    
    .slick-next {
        right: -154px;
    }
}

.slide-heading {
    font-size: 50px;
    margin-bottom: 32px;
}

.slide-info {
    margin: 54px 13px 0 0; 
}

.slide-text { 
    max-width: 735px;
    margin-bottom: 70px; 
    font-size: 18px;
}

button.slide-button { 
    width: 100%;
    max-width: 300px;
    padding: 19px 0;
}

.slide-button:first-child { margin-right: 18px }

.slider-image {
    position: relative;
    width: 39%;
    padding-top: 20px;
}

.phone-image {
    position: relative;
    z-index: 1;

    background-image: url(assets/img/slider-phone-background.webp);
    background-position-y: 221%;
    background-size: 94%;
    background-position-x: 10px;
    background-repeat-x: no-repeat;

    border-radius: 60px;
    overflow: clip;
    animation: animatePhone 5s infinite alternate;
}

.phone-image, .scroll-image {
    z-index: 1;
    max-width: 303px;
}

@keyframes animatePhone {
    50% {background-position-y: 100%;}
    70% {background-position-y: 30%;}
    100% {background-position-y: 70%;}
}

.background-circle {
    position: absolute;
    z-index: 0;

    width: 100%;

    transition: fill .4s;
}

.badge-textPath { letter-spacing: -.5px }

.slider-badge {
    position: absolute;
    z-index: 2;
    left: 20px;
    bottom: 200px;
}

.slider-badge .badge-circle { background-image: url('assets/img/slider-badge-rocket.webp') }

.scroll-down {
    display: block;
    width: fit-content;
    margin: 0 auto 20px;

    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.scroll-down:after {
    content: url('assets/icons/chevron.svg');
    display: block;
    margin-top: 12px;
    transition: transform .2s;
    animation: scrollDownAnim 2s infinite alternate;
}

@keyframes scrollDownAnim {
    from {transform: translateY(-5px)}
    to{transform: translateY(5px)}
}

.badge-text {
    text-transform: uppercase;
    transform-origin: center;
    animation: circleRotate 12s infinite linear;
}

@keyframes circleRotate{ to{ transform: rotate(360deg) } }

.slider-badge-textPath { word-spacing: 4px }

.slide-arrow { margin-top: -81px }

.nav-container .slick-dots {
    position: absolute;
    bottom: 0;
    left: 40px;
}

.slick-dots { display: flex; }

.slick-dots button {
    width: 10px;
    height: 10px;
    padding: 0;

    background-color: var(--accent-gray);
    font-size: 0;
}

.nav-container .slick-dots li:not(:last-child) button {
    margin-right: 26px;
}

.cases-carousel-mob .slick-dots { justify-content: center; }

.cases-carousel-mob .slick-dots li:not(:last-child) button {
    margin-right: 16px;
}

.slick-dots .slick-active button {
    background-color: var(--text-dark);
}

.slick-dots .slick-active {
    position: relative;
}

.slick-dots .slick-active .dot-circle {
    opacity: 1;
}

.dot-circle {
    position: absolute;
    top: 5px;
    left: -7px;

    width: 24px;
    height: 24px;

    transform: rotate(315deg);
    opacity: 0;
    pointer-events: none;

    stroke-width: 5;
    fill: none;
    stroke-lineadv: round;
}

.dot-circle:focus {
    outline: none;
}

.dot-circle:nth-of-type(1) {
    stroke: var(--text-dark);
    stroke-dasharray: 250;
    stroke-dashoffset: 500;
}




.advantages {
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}

.advantages-header { 
    margin: 0 auto 72px;
    max-width: 884px;
}

.advantage {
    position: relative;
    padding: 60px 30px 15px 22px;
    overflow: hidden;
    transition: background-color .4s;
}

.advantage:first-child, .advantage:nth-child(2) {
    padding-right: 53px;
}

.advantage [class^='adv-']:not(.adv-number), .effect [class^='adv-']:not(.adv-number) {
    position: relative;
    z-index: 4;
}

.advantage:first-child {
    grid-column-end: 4;
    background-color: #FFF48D;
}

.advantage:first-child, .advantage:nth-child(3) {
    grid-column-start: 1;
}

.advantage:nth-child(3) {
    grid-column-end: 3;
    background-color: #FF9877;
}

.advantage:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #A2E2FE;
}

.advantage:nth-child(2) {
    grid-column-start: 4;
    background-color: #81EC9F;
}

.advantage:nth-child(2), .advantage:last-child {
    grid-column-end: 7;
}

.advantage:last-child {
    grid-column-start: 5;
    background-color: #CCA4FF;
}

.adv-number {
    position: absolute;
    top: 15px;
    right: 32px;
    z-index: 2;

    font-size: 90px;
    font-weight: 700;

    color: #ffffff;
    opacity: .5;
}

.adv-image {
    margin-bottom: 16px;
}

.adv-heading {
    margin-bottom: 12px;
}

.adv-description:not(:last-child) { margin-bottom: 15px }




.about-heading {
    display: inline-block;
    margin-bottom: 32px;
    padding: 18px 40px;
    border-radius: 100px;
}

.about-text { margin-bottom: 40px }
.about-text > div { width: 50% }
.about-text > div:first-child { margin-right: 56px }
.about-text > div:last-child { margin-left: 56px }
.about-text p:first-child { margin-bottom: 20px }

.text-strong { font-weight: 700 }

.mobile-app { padding-bottom: 120px }

.mobile-app .about-heading, .mobile-app .scroll-inner { background-color: var(--site-yellow) }
.mobile-app .scroll-dot.active { 
    border-color: var(--site-yellow);
    background-color: #EEC16B;
 }

.mobile-app-images { 
    position: relative;
    min-height: 650px;
    overflow: clip;
    box-shadow: 0px 4px 25px 0px rgba(4, 6, 52, 0.12);
}

.app-image-wrapper {
    position: absolute;
    top: -70%;
    grid-template-columns: repeat(8, 1fr);
    transform: rotate(-31deg);
}

.app-image { animation: exampleMove 20s infinite linear }
.app-image:nth-child(odd) { animation-direction: alternate }
.app-image:nth-child(even) { animation-direction: alternate-reverse }

@keyframes exampleMove { to{ transform: translateY(-30%) } }

.site { padding-bottom: 170px }

.site .about-heading, .site .scroll-inner { background-color: var(--site-green) }
.site .scroll-dot.active { 
    border-color: var(--site-green);
    background-color: #67D375;
}

.site .about-text { margin-bottom: 50px }

.site-image { 
    width: 100%;
    max-width: 902px;
    margin: 0 auto;
}


.scroll-block { min-height: 615px }

.scroll-block, .site, .mobile-app {
    position: relative; 
    padding-left: 57px;
}

.scroll-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 100%;
    background-color: #F0F0F0;
}

.scroll-dot {
    position: absolute;
    top: 0;
    left: -15px;
    width: 40px;
    height: 40px;
    border: 10px solid #E2E2E2;
    border-radius: 50px;
    background-color: #CACACA;
}

.scroll-dot.end { 
    top: 100%; 
}

.scroll-inner { 
    max-height: 101%;
    border-radius: 12px;
    transition: height .1s;
}

.scroll-list { margin-top: 44px }

.delivery .about-heading, .delivery .scroll-inner { background-color: var(--site-red) }
.delivery .scroll-dot.active { 
    background-color: #EB8483;
    border-color: var(--site-red);
}

.loyalty .about-heading, .loyalty .scroll-inner { background-color: var(--site-blue) }
.loyalty .scroll-dot.active { 
    background-color: #6DB8D7;
    border-color: var(--site-blue);
}

.review .about-heading, .review .scroll-inner { background-color: var(--site-orange) }
.review .scroll-dot.active { 
    background-color: #DC9453;
    border-color: var(--site-orange);
}

.qr-code .about-heading, .qr-code .scroll-inner { background-color: var(--site-sinii) }
.qr-code .scroll-dot.active { 
    background-color: #5F8BD0;
    border-color: var(--site-sinii);
}

.integrations .about-heading, .integrations .scroll-inner { background-color: var(--site-purple) }
.integrations .scroll-dot.active { 
    background-color: #9D6EDB;
    border-color: var(--site-purple);
}


.back-yellow, .back-yellow-hover:hover { background-color: var(--site-yellow); }
.back-green, .back-green-hover:hover { background-color: var(--site-green); }
.back-blue, .back-blue-hover:hover { background-color: var(--site-blue); }
.back-orange, .back-orange-hover:hover { background-color: var(--site-orange); }
.back-sinii, .back-sinii-hover:hover { background-color: var(--site-sinii); }
.back-purple, .back-purple-hover:hover { background-color: var(--site-purple); }
.back-red, .back-red-hover:hover { background-color: var(--site-red); }


.scroll-item:before {
    content: '';

    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 15px;

    background-image: url('assets/icons/check-blue.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.review .scroll-item:before { background-image: url('assets/icons/check-orange.svg') }
.qr-code .scroll-item:before { background-image: url('assets/icons/check-sinii.svg'); }

.scroll-item:not(:last-child) { margin-bottom: 24px }

.scroll-text { max-width: 655px }
.scroll-text.text-strong { margin-top: 20px }

.integration-image { margin-top: 67px }

.scroll-line { flex: 1 }

.scrolling-phone {
    position: sticky;
    top: calc( 50% - var(--sticky-fix));
}

.about-phone { display: none }




.crm-tabs { 
    gap: 18px;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.crm-btn::before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.crm-btn {
    position: relative;

    padding: 12px 47px 12px 24px;

    border: 1px solid #ffffff;
    border-radius: 100px;
    color: #ffffff;
    background-color: transparent;

    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    transform-origin: center;
}

.crm-btn:after {
    content: url('assets/icons/chevron-right-white.svg');

    position: absolute;
    top: 50%;
    right: 24px;

    transform: translateY(-45%);
    transition: transform .2s;
}

.crm-btn:hover {
    color: #232323;
    font-weight: 700;
    border-color: transparent;
}

.crm-btn:hover:after {
    content: url('assets/icons/chevron-right-black.svg');
}

.crm-description { 
    display: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5em;
 }

.stages-grid { 
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}

.stage {
    position: relative;
    padding: 84px 50px 25px 22px;
    background-color: #F5F5F5;
}

.stage:first-child { margin-bottom: 20px }

.stage-heading { margin-bottom: 15px }

.stage-number {
    opacity: 1; 
    font-size: 70px;
}

.stage-1 .stage-number { color: #71D78F }
.stage-2 .stage-number { color: #76D7FE }
.stage-3 .stage-number { color: #FF8D8B }
.stage-4 .stage-number { color: #FFBB56 }

.stages-image-wrap { 
    border: 3px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.stage-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stages-button { text-align: center; }


.subheading-text { 
    font-size: 20px;
    transform: rotate(-.6deg);
}

.effect-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.effect {
    position: relative;
    padding:118px 22px 26px;
    background-size: contain;
    overflow: hidden;
    transition: background-color .4s;
}

.effect:first-child { 
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #FFF48D;
}

.effect:nth-child(2) { background-color: #81EC9F}

.effect:nth-child(3) {
    justify-content: end;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url('assets/img/effect-back-mobile.svg');
    background-color: #CCA4FF;
    background-repeat: no-repeat, repeat;
}

.effect:nth-child(4) { background-color: #A2E2FE }

.heading-secondary-inner { 
    margin-bottom: 12px;
    font-size: 35px;
}

.overlay-card p, .stage-text, .slide-text { color: #00000080 }




.carousel-img-wrap { 
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 16px;
 }

.cs-img { width: 100% }

#cases {
    margin-top: -20px; 
    padding-top: 70px;
    background-color: #F5F5F5;
}


.cases-carousel-mob .slick-arrow {
    top: unset;
    bottom: 0;
}

.cases-carousel-mob .slick-arrow:hover { background-color: transparent; }

.cases-carousel-mob .slick-arrow:before {
    content: '';
    position: absolute;
    bottom: 50%;
    width: 15vw;
    height: 2px;
    background-color: #2d2d2d;
    transform: translateY(55%);
}

.cases-carousel-mob .slick-prev { background-image: url('assets/icons/chevron-left-small-black.svg') }
.cases-carousel-mob .slick-next { background-image: url('assets/icons/chevron-right-small-black.svg') }

.cases-carousel-mob .slick-prev:before { 
    left: 40%;
}

.cases-carousel-mob .slick-next:before { 
    right: 40%;
}

.link-overlay { display: none }


.article {
    max-width: 380px;
}

.article-image { width: 100% }

.article .carousel-heading { font-size: 18px }



.form-container {
    max-width: 556px;
    margin-right: 20px;
    padding: 58px 78px 71px;

    background-image: linear-gradient(98.81deg, rgba(255, 255, 255, 0.21) 1.08%, rgba(255, 255, 255, 0.52) 44.77%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border-radius: 22px;

    text-align: center;
    box-sizing: border-box;
}

.form-subheading { font-size: 18px }

.contact-form { padding-top: 50px }

.form-badge { 
    position: absolute;
    top: 20px;
    right: 20px;
}

.form-badge .badge-circle { 
    background-image: url('assets/img/form-badge.webp');
    background-position-y: 30px;
    background-size: 45%;
 }

.form-badge .badge-text { word-spacing: 1px }

.form-input {
    padding: 17px 20px;

    border-radius: 100px;
    background-color: #f5f5f5;
    font-size: 16px;
}

.form-input:not(:last-of-type) {
    margin-bottom: 12px;
}

.form-submit {
    margin-top: 38px;
    font-weight: 600;
}

.form-input, .form-submit {
    width: 100%;
}

.form-image-wrap {
    position: relative;
    width: 100%;
}

.form-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
}


.site-footer {
    color: #ffffff; 
    background-color: #161616;
}

.site-footer .container { padding: 40px 40px 34px }

.footer-logo {
    display: block;
    margin-bottom: 25px;
    line-height: .9em; 
    font-size: 65px;
}

.footer-text { max-width: 453px }

address { font-style: normal }

.mail { margin-right: 32px }

.contact-name { 
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.contact {
    font-size: 20px; 
    font-weight: 700;
}

.cr {
    padding: 12px 0 10px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: .65em;
    text-align: center;
}



@media (min-width: 1558px) { .carousel-track { min-width: 1558px } }

@media (min-width: 1440px) {
    .header-menu-item:not(:last-child) { margin-right: 40px }
}

@media (max-width: 1440px) {
    .header-menu { justify-content: space-around }

    .header-menu-container { flex: 1 }

    .header-menu-item:not(:last-child) {
        margin-right: 0;
    }
}

@media (min-width: 1297px) {
    .desk-hidden {
        display: none;
    }

    .header-menu-container {
        display: block;
    }

    .header-menu-item:not(:last-child) { margin-bottom: 0 }

    .header-phone { 
        padding: 10px 32px;

        border-radius: 100px;
        background-color: #f5f5f5;

        transition: .4s;
    }

    .header-phone:hover { 
        color: #ffffff;
        background-color: var(--text-dark); 
    }
}

@media (max-width: 1297px) {
    .header-menu {
        margin-bottom: 70px;
    }

    .slide-heading {
        font-size: 48px;
    }
}

@media (max-width: 1159px) {
    #hero-section .slick-arrow { display: none !important }

    .slider, .slider-image { width: 50% }

    .slide-text {
        font-size: 20px
    }

    .slide-buttons {
        flex-wrap: wrap;
    }

    .slide-button:first-child {
        margin-bottom: 12px;
    }

    .phone-image {
        width: 70%;
    }

    .slider-image img.slide-arrow {
        display: none;
    }

    .slider-badge {
        right: 0;
        bottom: 60px;
        left: unset;
    }

    .nav-container .slick-dots {
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 1024px) { 
    .slide-heading { transform: rotate(.6deg); }
    .slider-wrap .slick-arrow:hover {
        background-color: #2d2d2d;
        animation: arrowAfterHover 2s alternate;
    }

    .advantage:first-child:hover, .effect:first-child:hover {
        background-color: #FFF27E;
    }

    .advantage:nth-child(2):hover, .effect:nth-child(2):hover {
        background-color: #70EE93;
    }
    
    .advantage:nth-child(3):hover {
        background-color: #FF906C;
    }
    
    .advantage:nth-child(4):hover, .effect:nth-child(4):hover {
        background-color: #8FDAFB;
    }
    
    .advantage:last-child:hover, .effect:nth-child(3):hover {
        background-color: #C89CFF;
    }


    .scrolling-phone .scroll-image {
        position: absolute;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);
    }
    
    .scroll-image { transition: opacity .1s }
    
    .delivery-scroll .delivery-image { 
        position: relative;
        opacity: 1;
    }
    
    .loyalty-scroll .loyalty-image {
        position: relative;
        opacity: 1;
    }
    
    .delivery-scroll + .background-circle { fill: var(--site-red); }
    .loyalty-scroll + .background-circle { fill: var(--site-blue); }
    .reviews-scroll + .background-circle { fill: var(--site-orange); }
    .qr-scroll + .background-circle { fill: var(--site-sinii); }
    .integrations-scroll + .background-circle { fill: var(--site-purple); }

    .loyalty-scroll .loylaty-image, .reviews-scroll .review-image, .qr-scroll .qr-image, .integrations-scroll .integrations-image { 
        position: relative;
        opacity: 1; 
    }


    .effect:first-child { padding-right: 192px; }


    .carousel::-webkit-scrollbar { display: none }

    .link-overlay {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity .4s;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(1px);
    }
    
    .link-overlay:hover{ opacity: 1; }
    
    .cs-button {
        width: 100%;
        max-width: 283px;
        background-color: #ffffff;
        color: #2d2d2d;
        text-align: center;
    }
    
    .cs-button:hover  { background-color: #d7d7d7a7 }
}

@media (max-width: 1024px) {
    .advantage:nth-child(odd) {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .advantage:nth-child(even) {
        grid-column-start: 4;
        grid-column-end: 7;
    }

    .advantage:last-child { grid-column-end: 7; }

    .about-phone { 
        position: relative;
        display: flex;
        padding: 20px 30px 50px;
    }

    .scroll-line { display: none }


    

    .form-container { max-width: unset }
     
    .form-wrapper { flex-wrap: wrap }

    .form-container {
        order: 1;
        margin-right: 0;
        border-radius: 0 0 22px 22px;
    }

    .form-image { border-radius: 22px 22px 0 0 }

    .form-badge { 
        top: 75%;
        right: -5px;
    }


    .site-footer .container { 
        padding: 40px 0 34px;
        text-align: center;
    }

    .site-footer .container, .footer-contacts {
        flex-direction: column;
    }

    .logo-info { 
        padding: 0 16px 32px;
    }

    .footer-contacts { 
        width: 100%;
        padding: 32px 16px 0;
        border-top: 2px solid rgba(255, 255, 255, 0.1);
    }

    .mail { 
        order: 1;
        margin-right: 0;
    }

    .phone { margin-bottom: 12px; }
}

@media (max-width: 972px) {
    .phone-image { border-radius: 55px }
}

@media (min-width: 768px) {
    .header-logo {
        margin-top: -15px;
        font-size: 47px;
    }

    .header-phone { font-size: 20px }

    .cases-carousel-mob .slick-dots { display:none !important }
}

@media (max-width: 768px) {
    button { font-size: 14px }

    .container {
        padding: 0 16px;
    }

    .br-22 { border-radius: 12px }

    .page-section { padding: 50px 0 }

    .heading-secondary { 
        margin-bottom: 47px;
        font-size: 20px;
        line-height: 28px;
        transform: rotate(0deg);
    }

    .heading-secondary:after {
        bottom: -15px;
        width: 132px;
        height: 2px;
        transform: translateX(-50%) rotate(0deg);
    }

    .heading-secondary-inner { font-size: 20px }

    .subheading-text { font-size: 14px }


    .slide-heading { font-size: 27px }
    .slide-text { font-size: 18px }
    .phone-image { border-radius: 40px }


    #advantages { 
        border-radius: 0 0 22px 22px;
        padding-bottom: 0;
    }

    .advantages { 
        gap: 0;
        margin: 0 -16px;
    }

    .advantage { background-repeat: no-repeat }

    .advantage:first-child {
        background-image: url('assets/img/advantage-back-mobile.svg'), linear-gradient(96.68deg, #FFF491 7.92%, #FFEF9A 43.24%, #FFEB83 88.67%);
    }
    
    .advantage:nth-child(3) {
        top: 14%;
        background-image: url('assets/img/advantage-back-mobile.svg'), linear-gradient(153.17deg, #FEBDBC 6.49%, #FFB8B8 83.21%);
    }
    
    .advantage:nth-child(4) {
        top: 21%;
        background-image: url('assets/img/advantage-back-mobile.svg'), linear-gradient(180deg, #87DDFF 0%, #B8E9FF 100%);
    }
    
    .advantage:nth-child(2) {
        top: 7%;
        background-image: url('assets/img/advantage-back-mobile.svg'), linear-gradient(74.8deg, #9CEAC6 6.45%, #80D598 64.93%);
    }
    
    .advantage:last-child {
        background-image: url('assets/img/advantage-back-mobile.svg'), linear-gradient(180deg, #D6B9F5 0%, #CEB1F5 100%);
    }

    .advantage:nth-child(odd), .advantage:nth-child(even) {
        grid-column-start: 1;
        grid-column-end: 7;
        padding: 164px 24px 101px 28px;
    }

    .advantage:not(:first-child) { margin-top: -10% }

    .adv-number { font-size: 60px }

    .adv-description { font-size: 16px }


    .overlay-card {
        position: sticky;
        top: 0;
    }


    #about {
        padding-bottom: 0;
    }

    .about-heading {
        margin-bottom: 12px;
        padding: 12px 30px; 
        font-size: 16px;
    }

    .about-text { 
        flex-direction: column;
        font-size: 14px;
    }

    .site .about-text, .about-text {
        margin-bottom: 20px;
    }

    .mobile-app { padding-bottom: 50px }
    .site { padding-bottom: 60px }

    .about-text p:first-child { margin-bottom: 10px }
    .about-text > div { width: 100% }
    .about-text > div:first-child, .about-text > div:last-child { margin: 0 }

    .app-image-wrapper {
        top: -85%;
        left: -65%;
        transform: rotate(-31deg) scale(.6);
    }

    .integrations .scroll-track { height: 85%; }

    .scrolling-left { width: 100% }

    .scroll-text { line-height: 20px }

    .scroll-text, .scroll-item { font-size: 14px }

    .scroll-text.text-strong { margin-top: 10px }

    .scroll-list { margin-top: 22px }

    .scroll-track { width: 6px }

    .scroll-dot {
        left: -9px;
        width: 24px;
        height: 24px;
        border-width: 6px;
    }

    .scroll-block, .site, .mobile-app { padding-left: 25px }

    .integration-image {
        width: 100%; 
        margin-top: 20px;
    }

    .scroll-image { 
        width: 85%;
        max-width: 250px;
    }


    .stages-grid { gap: 16px }
    .stage { padding: 80px 25px 20px 13px; }
    .stage-text { font-size: 16px }
    .stages-button { display: none }

    .stage-heading { 
        margin-top: 22px;
        font-size: 18px;
     }


    #efficiency {
        padding-bottom: 0;
        border-radius: 0 0 22px 22px;
    }

    .stages-grid, .effect-list { grid-template-columns: 1fr; }

    .effect-list { 
        gap: 0;
        margin: 0 -16px;
    }

    .effect {
        padding: 228px 26px 80px;
        background-size: contain;
        background-repeat: no-repeat, repeat;
    }

    .effect:first-child { 
        background-image: url('assets/img/effect-back-mobile.svg');
    }
    .effect:nth-child(2) {
        top: 7%; 
        background-image: url('assets/img/effect-back-mobile.svg');
    }
    .effect:nth-child(3) { top: 14%  }
    .effect:last-child { background-image: url('assets/img/effect-back-mobile.svg') }

    .effect:not(:last-child) {
        margin-bottom: -20px;
        border-bottom: 0;
        border-left: 0;
    }


    .has-slider { overflow: hidden; }
    .cases-carousel-mob div.slick-list { overflow: hidden; }
    .case-img-wrap { margin-right: 0 }
    .cs-heading { 
        font-size: 18px;
        text-align: center;
        margin-bottom: 12px;
    }

    .article .carousel-heading {
        font-weight: 600; 
        font-size: 14px;
    }


    .form-heading { font-size: 20px }
    .form-subheading { 
        opacity: .6;
        font-size: 16px;
    }


    .footer-text { font-size: 14px; }
}

@media (min-width: 600px) {
    .crm-image-wrapper { 
        position: relative;
        max-width: 1163px;
        margin: 0 auto;
    }
    
    .crm-image {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        opacity: 0;
        transition: opacity .6s;
    }
    
    .crm-image.active {
        position: relative;
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .crm-tabs { gap: 12px } 

    .crm-tab, .crm-btn { width: 100% }

    .crm-description {
        display: block;
        max-height: 0;
        margin-top: 8px;
        overflow: hidden;
        transition: max-height .6s;
    }

    .crm-tab.active .crm-description {
        max-height: 400px;
    }

    .crm-tab.active .crm-btn:after {
        transform: rotate(90deg) translateX(-10px);
    }

    .crm-btn { 
        position: relative;
        text-align: left;
        font-size: 14px;
    }

    .crm-btn:after {
        position: absolute;
        top: 50%;
        right: 24px;
        margin-left: 0;
        transform: translateY(-50%);
        transform-origin: center;
    }

    .crm-image { display: none }
}

@media (min-width: 564px) and (max-width: 1297px) {
    .mob-menu {
        right: 100vw;
        border-radius: 20px;
        box-shadow: 0 4px 22px rgba(4, 6, 52, 0.12);
    }
}

@media (min-width: 564px) {
    .slide .slider-image { display: none }

    .slider .slick-slide { 
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s;
    }
    .slider .slick-slide.slick-active { 
        opacity: 1;
        pointer-events: all;
    }
    div.slick-list { overflow: visible; }

    .mob-menu-btns .button { margin-right: 10px }
}

@media (max-width: 563px) {
    button.slide-button { 
        max-width: 280px;
        padding: 15px 0;
        font-size: 14px;
     }

    .header-container {
        padding: 0;
    }

    .header {
        z-index: 10;
        padding: 10px 16px;
        box-shadow: 0 4px 22px rgba(4, 6, 52, 0.12);
    }

    .mobile-hidden { display: none; }

    .mob-menu { 
        top: 48px;
        width: 100vw
    }

    .mob-menu.active {
        right: 0;
        height: calc(100% - 46px);
    }

    .mob-menu-btns {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    .mob-menu-btns > .button-light { margin-bottom: 12px }


    .badge {
        width: 90px;
        height: 90px;
    }

    .badge-circle { background-size: 35px; }

    .slider-wrap { margin: 24px 0 90px }

    .slide > .flex { flex-direction: column }

    .slide-info, .slider-image {
        width: 100%;
    }

    .slide-info { 
        order: 1;
        margin: 0;
    }

    .slide-text { display: none }

    .slide-heading { margin-bottom: 24px }

    .slide-buttons { justify-content: center }

    .slide-button:first-child { margin: 0 0 12px }

    .slide-heading-mobile {
        text-transform: uppercase;
        font-size: 22px;
        line-height: 30px;
    }

    .slide-text-mobile {
        font-size: 16px; 
        margin-bottom: 24px;
    }

    .slide-heading-mobile, .slide-text-mobile {
        display: block;
        text-align: center;
    }

    .phone-image { border-radius: 50px }

    .slider { width: 100% }

    .slider-image { margin-bottom: 24px }

    .slider-image-main { display: none }

    .slider-badge .badge-text { font-size: 11px }

    .slider-badge-textPath { word-spacing: 4px }

    .scroll-down { display: none }


    .app-image-wrapper { 
        left: -175%;
    }

    
    #efficiency .heading-secondary {
        max-width: 338px;
        margin: 0 auto 12px;
    }

    .effect { background-repeat: no-repeat; }


    .article {
        max-width: 200px;
    }


    .case-img { width: 300px; }


    .form-container { padding: 24px 16px }

    .contact-form { padding-top: 18px }

    .form-submit { margin-top: 24px }

    .form-input { font-size: 16px }

    .form-badge .badge-circle { background-position-y: 20px }
}

@media (max-width: 425px) { 
    .phone-image{ border-radius: 43px }
}

@media (max-width: 337px) { 
    .header-phone { display: none }

    .phone-image{ border-radius: 35px }
}