.breadcrumbs { 
    margin: 12px 0 32px;
    font-size: 16px;
}

.breadcrumb:not(:last-child) { margin-right: 21px; }

.breadcrumb:not(:last-child):after {
    content: url(assets/icons/chevron-breadcrumbs.svg);
    position: absolute;
    margin-left: 9px;
}

.breadcrumb.current { color: rgba(49, 49, 49, .6); }

.post-headings { margin-bottom: 32px; }


.post-text-wrap { width: 58%; }

.post-section { padding-bottom: 150px; }

.post-content p { color: var(--text-dark) }
.post-content p:not(:first-child) { margin-top: 20px }

.post-header { margin: 32px 0 20px }

.articles-section { padding: 140px 0 150px }


.post-image-wrap { 
    width: 100%;
    max-width: 42%;
    height: fit-content;
    margin-left: 50px;

    overflow: hidden;
 }
.post-image { 
    object-fit: cover;
    width: 100%;
 }

 @media (max-width: 1024px) {
    .post-section > .flex {
        flex-direction: column;
    }

    .breadcrumbs { 
        margin: 27px 0 19px;
        font-size: 12px;
     }

    .post-text-wrap {
        order: 1;
        width: 100%;
        margin-bottom: 50px;
    }

    .post-image-wrap { 
        max-width: 100%;
        max-height: 326px;
        margin-bottom: 23px;
        margin-left: 0;
    }

    .post-image {
        height: 100%;
    }

    .post-headings { margin-bottom: 20px; }

    h1.heading-secondary { 
        margin-bottom: 9px;
        text-align: left;
    }

    .post-content p:not(:first-child) {
        margin-top: 10px;
    }

    .post-header { margin: 20px 0 15px }

    .post-section { padding-bottom: 90px }

    .articles-section { padding: 90px 0 }
 }